[Unit]
Description=BPM BE IOC %p%I
After=rc-local.service
Requires=bpm-sw-be@%i.service
After=bpm-sw-be@%i.service
PartOf=bpm-sw-ioc@%i.service

[Service]
# Source environment
EnvironmentFile=/etc/sysconfig/bpm-epics-ioc
Environment="BPM_ENDPOINT=tcp://127.0.0.1:8978" BPM_NUMBER=%i
# Execute pre with root
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/procServ/%p%i
ExecStartPre=/bin/mkdir -p /var/run/procServ/%p%i
WorkingDirectory=/opt/epics/startup/ioc/bpm-epics-ioc/iocBoot/iocBPM
# Run procServ with user ioc
ExecStart=/usr/local/bin/procServ -f -n %p%i -i ^C^D ${PROCSERV_BE_PORT_PREFIX}%i ./run.sh ${BPM_ENDPOINT} ${BPM_NUMBER}

[Install]
WantedBy=bpm-sw-ioc@%i.service
