[Unit]
Description=IOC %p%I
After=rc-local.service

[Service]
# May not work with systems using SElinux
User=ioc
# Only execute IOC if st.cmd exists
AssertPathExists=/opt/epics/startup/ioc/%p/st.cmd
# Execute pre with root
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/procServ/%p%i
ExecStartPre=/bin/chown -R ioc:ioc /var/log/procServ/%p%i
ExecStartPre=/bin/mkdir -p /var/run/procServ/%p%i
ExecStartPre=/bin/chown -R ioc:ioc /var/run/procServ/%p%i
# Run procServ with user ioc
EnvironmentFile=/opt/epics/startup/ioc/%p/bpm-epics-ioc
Environment="BPM_ENDPOINT=tcp://127.0.0.1:8978" BPM_NUMBER=%i
#ExecStart=/usr/local/bin/procServ -f -L /var/log/procServ/%p%i -i ^C^D -c /var/run/procServ/%p%i ${PROCSERV_PORT_PREFIX}%i /usr/local/bin/${EPICS_HOST_ARCH}/%p /opt/epics/startup/ioc/%p/st.cmd -n %p%i
ExecStart=/usr/local/bin/procServ -f -i ^C^D -c /var/run/procServ/%p%i ${PROCSERV_PORT_PREFIX}%i /usr/local/bin/${EPICS_HOST_ARCH}/BPM /opt/epics/startup/ioc/%p/st.cmd -n %p%i
