[Unit]
Description=BPM BE IOC %p%I
After=rc-local.service
BindsTo=bpm-sw@%i.service
After=bpm-sw@%i.service

[Service]
# Source environment
EnvironmentFile=/etc/sysconfig/bpm-epics-ioc
Environment="BPM_ENDPOINT=tcp://127.0.0.1:8978" BPM_NUMBER=%i
# Execute pre with root
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/procServ/%p%i
ExecStartPre=/bin/mkdir -p /var/run/procServ/%p%i
WorkingDirectory=/opt/epics/startup/ioc/bpm-epics-ioc/iocBoot/iocBPM
# Run procServ with user ioc
ExecStart=/usr/local/bin/procServ -f -i ^C^D -c /var/run/procServ/%p%i ${PROCSERV_BE_PORT_PREFIX}%i /usr/local/bin/${EPICS_HOST_ARCH}/BPM ${BPM_BE_IOC_STARTUP}/st.cmd -n %p%i

[Install]
WantedBy=multi-user.target
