[Unit]
Description=BPM IOC %p%I
After=rc-local.service
Wants=bpm-sw-be-ioc@%i.service
After=bpm-sw-be-ioc@%i.service
Wants=bpm-sw-fe-ioc@%i.service
After=bpm-sw-fe-ioc@%i.service

[Service]
ExecStart=/bin/true
RemainAfterExit=true
