record(ao,"$(P)$(R)AFCSi57xFreq-SP"){
    field(DTYP,"asynFloat64")
    field(DESC,"set si57x frequency")
    field(PINI,"YES")
    field(PREC, "3")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))AFC_SI57XFREQ")
    field(EGU, "Hz")
}

record(ai,"$(P)$(R)AFCSi57xFreq-RB"){
    field(DTYP,"asynFloat64")
    field(DESC,"get si57x frequency")
    field(PREC, "3")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))AFC_SI57XFREQ")
    field(EGU, "Hz")
}

record(ao,"$(P)$(R)AFCSi57xFStartup-SP"){
    field(DTYP,"asynFloat64")
    field(DESC,"set si57x startup frequency")
    field(PINI,"YES")
    field(PREC, "3")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))AFC_SI57XFSTARTUP")
    field(EGU, "Hz")
}

record(ai,"$(P)$(R)AFCSi57xFStartup-RB"){
    field(DTYP,"asynFloat64")
    field(DESC,"get si57x startup frequency")
    field(PREC, "3")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))AFC_SI57XFSTARTUP")
    field(EGU, "Hz")
}

record(mbbo,"$(P)$(R)AFCSi57xOe-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set Si57x output enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))AFC_SI57XOE")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(VAL,"1")
}

record(mbbi,"$(P)$(R)AFCSi57xOe-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get Si57x output enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))AFC_SI57XOE")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}
