#
# BPM database file
#
# Authors: Juliano Murari
#          Lucas Russo
#
# Created Aug. 03, 2015
#

#######################################
# Amplitude and phase compensation
#######################################

record(mbbo,"$(P)$(R)ADCSw"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"rffe_switching")
    field(ONST,"direct")
    field(TWST,"inverted")
    field(THST,"switching")
}

record(mbbi,"$(P)$(R)ADCSw-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"rffe_switching")
    field(ONST,"direct")
    field(TWST,"inverted")
    field(THST,"switching")
}

record(longout,"$(P)$(R)ADCSwDly"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SWDLY")
    field(EGU, "clks")
}

record(longin,"$(P)$(R)ADCSwDly-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching delay")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SWDLY")
    field(EGU, "clks")
}

record(longout,"$(P)$(R)ADCSwDivClk"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching divider clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW_DIVCLK")
}

record(longin,"$(P)$(R)ADCSwDivClk-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching divider clock")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW_DIVCLK")
}

record(mbbo,"$(P)$(R)ADCTrigDir"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC trigger direction")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGDIR")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"output")
    field(ONST,"input")
}

record(mbbi,"$(P)$(R)ADCTrigDir-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC trigger direction")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGDIR")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"output")
    field(ONST,"input")
}

record(mbbo,"$(P)$(R)ADCTrigTerm"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC trigger 50ohm termination")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGTERM")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbi,"$(P)$(R)ADCTrigTerm-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC trigger 50ogm termination")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGTERM")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)$(R)ADCTestDataEn"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC test ramp data")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TESTDATA")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbi,"$(P)$(R)ADCTestDataEn-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC test ramp data")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TESTDATA")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)$(R)ADCClkSel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC reference clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"external")
    field(ONST,"fmc_conn")
}

record(mbbi,"$(P)$(R)ADCClkSel-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC reference clock")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"external")
    field(ONST,"fmc_conn")
}

record(ao,"$(P)$(R)ADCSi57xFreq"){
    field(DTYP,"asynFloat64")
    field(DESC,"set si57x frequency")
    field(PINI,"YES")
    field(PREC, "3")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))ADC_SI57XFREQ")
}

record(ai,"$(P)$(R)ADCSi57xFreq-RB"){
    field(DTYP,"asynFloat64")
    field(DESC,"get si57x frequency")
    field(PINI,"YES")
    field(PREC, "3")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))ADC_SI57XFREQ")
}

record(mbbo,"$(P)$(R)ADCAD9510Defaults"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 to BPM default values")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510DFLT")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(longout,"$(P)$(R)ADCAD9510PllFunc"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 PLL function")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLFUNC")
}

record(longin,"$(P)$(R)ADCAD9510PllFunc-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 PLL function")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLFUNC")
}

record(longin,"$(P)$(R)ADCAD9510PllStatus-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 PLL Status")
    field(PINI,"YES")
    field(SCAN,"2 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLSTATUS")
}

record(mbbo,"$(P)$(R)ADCAD9510ClkSel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 reference clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"1")
    field(ONVL,"2")
    field(ZRST,"clk1")
    field(ONST,"clk2")
}

record(mbbi,"$(P)$(R)ADCAD9510ClkSel-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 reference clock")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"1")
    field(ONVL,"2")
    field(ZRST,"clk1")
    field(ONST,"clk2")
}

record(longout,"$(P)$(R)ADCAD9510ADiv"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 A divider")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510ADIV")
}

record(longin,"$(P)$(R)ADCAD9510ADiv-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 A divider")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510ADIV")
}

record(longout,"$(P)$(R)ADCAD9510BDiv"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 B divider")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510BDIV")
}

record(longin,"$(P)$(R)ADCAD9510BDiv-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 B divider")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510BDIV")
}

record(longout,"$(P)$(R)ADCAD9510Prescaler"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 prescaler")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PRESCALER")
}

record(longin,"$(P)$(R)ADCAD9510Prescaler-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 prescaler")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PRESCALER")
}

record(longout,"$(P)$(R)ADCAD9510RDiv"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 R divider")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510RDIV")
}

record(longin,"$(P)$(R)ADCAD9510RDiv-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 R divider")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510RDIV")
}

record(mbbo,"$(P)$(R)ADCAD9510PllPDown"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 PLL power down")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLPDOWN")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ONVL,"2")
    field(ONVL,"3")
    field(ZRST,"normal")
    field(ONST,"async_pdown")
    field(TWST,"normal")
    field(THST,"sync_pdown")
}

record(mbbi,"$(P)$(R)ADCAD9510PllPDown-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 PLL power down")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLPDOWN")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ONVL,"2")
    field(ONVL,"3")
    field(ZRST,"normal")
    field(ONST,"async_pdown")
    field(TWST,"normal")
    field(THST,"sync_pdown")
}

record(longout,"$(P)$(R)ADCAD9510MuxStatus"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 mux status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510MUXSTATUS")
}

record(longin,"$(P)$(R)ADCAD9510MuxStatus-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 mux status")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510MUXSTATUS")
}

record(longout,"$(P)$(R)ADCAD9510CpCurrent"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 CP current")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CPCURRENT")
}

record(longin,"$(P)$(R)ADCAD9510CpCurrent-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 CP current")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CPCURRENT")
}

record(longout,"$(P)$(R)ADCAD9510Outputs"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 outputs")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510OUTPUTS")
}

record(longin,"$(P)$(R)ADCAD9510Outputs-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 outputs")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510OUTPUTS")
}
