#
# BPM database file
#
# Authors: Juliano Murari
#          Lucas Russo
#
# Created Aug. 03, 2015
#

#######################################
# Amplitude and phase compensation
#######################################

record(mbbo, "$(P)-$(BPM_NUMBER):ADC:compMethod"){
    field(DTYP, "asynInt32")
    field(DESC, "Amplitude and phase compensation method")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))ADC_COMPMETHOD")
    field(SCAN,"Passive")
    field(PINI,"YES")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"disable")
    field(ONST,"static")
    field(TWST,"automatic")
    field(THST,"last_automatic")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainAA"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (direct A)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINAA")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainAA_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainAA_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (direct A)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINAA")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainBB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (direct B)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINBB")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainBB_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainBB_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (direct B)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINBB")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainCC"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (direct C)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINCC")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainCC_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainCC_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (direct C)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINCC")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainDD"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set DC static gain (direct D)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINDD")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainDD_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainDD_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (direct D)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINDD")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainAC"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (crossed A-C)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINAC")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainAC_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainAC_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (crossed A-C)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINAC")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainCA"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (crossed C-A)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINCA")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainCA_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainCA_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (crossed C-A)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINCA")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainBD"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (crossed B-D)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINBD")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainBD_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainBD_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (crossed B-D)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINBD")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainDB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (crossed D-B)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINDB")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainDB_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainDB_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (crossed D-B)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINDB")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:sw"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"matched")
    field(ONST,"direct")
    field(TWST,"inverted")
    field(THST,"switching")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:sw_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:sw_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"matched")
    field(ONST,"direct")
    field(TWST,"inverted")
    field(THST,"switching")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:swDly"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SWDLY")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:swDly_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:swDly_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SWDLY")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:swDivClk"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching divider clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW_DIVCLK")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:swDivClk_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:swDivClk_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching divider clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW_DIVCLK")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:swEn"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set switching status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SWEN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:swEn_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:swEn_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get switching status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SWEN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:wdwEn"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC windowing status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_WDW")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:wdwEn_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:wdwEn_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC windowing status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_WDW")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:wdwDly"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC windowing delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_WDWDLY")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:wdwDly_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:wdwDly_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC windowing delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_WDWDLY")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:trigDir"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC trigger direction")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGDIR")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"output")
    field(ONST,"input")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:trigDir_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:trigDir_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC trigger direction")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGDIR")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"output")
    field(ONST,"input")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:trigTerm"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC trigger 50ohm termination")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGTERM")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:trigTerm_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:trigTerm_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC trigger 50ogm termination")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGTERM")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:randEn"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set LT2208 ADC RAND")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_RAND")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:randEn_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:randEn_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get LT2208 ADC RAND")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_RAND")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:dithEn"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set LT2208 ADC DITH")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_DITH")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:dithEn_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:dithEn_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get LT2208 ADC DITH")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_DITH")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:shdnEn"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set LT2208 ADC SHDN")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SHDN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:shdnEn_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:shdnEn_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get LT2208 ADC SHDN")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SHDN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:pgaEn"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set LT2208 ADC PGA")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_PGA")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:pgaEn_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:pgaEn_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get LT2208 ADC PGA")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_PGA")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:testDataEn"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC test ramp data")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TESTDATA")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:testDataEn_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:testDataEn_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC test ramp data")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TESTDATA")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:clkSel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC reference clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"external")
    field(ONST,"fmc_conn")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:clkSel_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:clkSel_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC reference clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"external")
    field(ONST,"fmc_conn")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:AD9510Defaults"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 to BPM default values")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510DFLT")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:AD9510PllFunc"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 PLL function")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLFUNC")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510PllFunc_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:AD9510PllFunc_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 PLL function")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLFUNC")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:AD9510PllStatus"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 PLL Status")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLSTATUS")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510PllStatus_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:AD9510PllStatus_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 PLL Status")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLSTATUS")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:AD9510ClkSel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 reference clock")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"1")
    field(ONVL,"2")
    field(ZRST,"clk1")
    field(ONST,"clk2")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510ClkSel_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:AD9510ClkSel_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 reference clock")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"1")
    field(ONVL,"2")
    field(ZRST,"clk1")
    field(ONST,"clk2")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:AD9510ADiv"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 A divider")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510ADIV")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510ADiv_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:AD9510ADiv_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 A divider")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510ADIV")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:AD9510BDiv"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 B divider")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510BDIV")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510BDiv_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:AD9510BDiv_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 B divider")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510BDIV")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:AD9510Prescaler"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 prescaler")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PRESCALER")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510Prescaler_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:AD9510Prescaler_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 prescaler")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PRESCALER")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:AD9510RDiv"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 R divider")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510RDIV")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510RDiv_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:AD9510RDiv_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 R divider")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510RDIV")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:AD9510PllPDown"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 PLL power down")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLPDOWN")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ONVL,"2")
    field(ONVL,"3")
    field(ZRST,"normal")
    field(ONST,"async_pdown")
    field(TWST,"normal")
    field(THST,"sync_pdown")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510PllPDown_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:AD9510PllPDown_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 PLL power down")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLPDOWN")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ONVL,"2")
    field(ONVL,"3")
    field(ZRST,"normal")
    field(ONST,"async_pdown")
    field(TWST,"normal")
    field(THST,"sync_pdown")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:AD9510MuxStatus"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 mux status")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510MUXSTATUS")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510MuxStatus_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:AD9510MuxStatus_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 mux status")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510MUXSTATUS")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:AD9510CpCurrent"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 CP current")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CPCURRENT")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510CpCurrent_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:AD9510CpCurrent_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 CP current")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CPCURRENT")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:AD9510Outputs"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 outputs")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510OUTPUTS")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:AD9510Outputs_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:AD9510Outputs_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 outputs")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510OUTPUTS")
}
