#
# BPM database file
#
# Authors: Juliano Murari
#
# Created Mar. 21, 2017
#

record(mbbo,"$(P)$(R)ADCClkSel-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC reference clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"external")
    field(ONST,"fmc_conn")
}

record(mbbi,"$(P)$(R)ADCClkSel-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC reference clock")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"external")
    field(ONST,"fmc_conn")
}

# Get value from INFOClkFreq PV
record(ao,"$(P)$(R)ADCSi57xFreq-SP"){
    field(DTYP,"asynFloat64")
    field(DESC,"set si57x frequency")
    field(PINI,"YES")
    field(PREC, "3")
    field(SCAN,"Passive")
    field(DOL,"$(P)$(R)INFOClkFreq-SP PP NMS")
    field(OMSL,"closed_loop")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))ADC_SI57XFREQ")
    field(EGU, "Hz")
}

record(ai,"$(P)$(R)ADCSi57xFreq-RB"){
    field(DTYP,"asynFloat64")
    field(DESC,"get si57x frequency")
    field(PREC, "3")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))ADC_SI57XFREQ")
    field(EGU, "Hz")
}

record(ao,"$(P)$(R)ADCSi57xFStartup-SP"){
    field(DTYP,"asynFloat64")
    field(DESC,"set ADC si57x startup frequency")
    field(PINI,"YES")
    field(PREC, "3")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))ADC_SI57XFSTARTUP")
    field(EGU, "Hz")
}

record(ai,"$(P)$(R)ADCSi57xFStartup-RB"){
    field(DTYP,"asynFloat64")
    field(DESC,"get ADC si57x startup frequency")
    field(PREC, "3")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))ADC_SI57XFSTARTUP")
    field(EGU, "Hz")
}

record(mbbo,"$(P)$(R)ADCSi57xOe-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set Si57x output enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ACTIVE_CLK_SI57X_OE")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(VAL,"1")
}

record(mbbi,"$(P)$(R)ADCSi57xOe-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get Si57x output enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ACTIVE_CLK_SI57X_OE")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)$(R)ADCAD9510Defaults-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 to BPM default values")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510DFLT")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(longout,"$(P)$(R)ADCAD9510PllFunc-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 PLL function")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLFUNC")
}

record(longin,"$(P)$(R)ADCAD9510PllFunc-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 PLL function")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLFUNC")
}

record(longin,"$(P)$(R)ADCAD9510PllStatus-Mon"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 PLL Status")
    field(SCAN,"2 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLSTATUS")
}

record(mbbo,"$(P)$(R)ADCAD9510ClkSel-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 reference clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"1")
    field(ONVL,"2")
    field(ZRST,"clk1")
    field(ONST,"clk2")
}

record(mbbi,"$(P)$(R)ADCAD9510ClkSel-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 reference clock")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CLKSEL")
    field(NOBT,"1")
    field(ZRVL,"1")
    field(ONVL,"2")
    field(ZRST,"clk1")
    field(ONST,"clk2")
}

record(mbbo,"$(P)$(R)ActiveClkRstAdcs-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"reset all ADCs")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ACTIVE_CLK_RST_ADCS")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"no change")
    field(ONST,"reset")
}

record(longout,"$(P)$(R)ADCAD9510ADiv-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 A divider")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510ADIV")
}

record(longin,"$(P)$(R)ADCAD9510ADiv-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 A divider")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510ADIV")
}

record(longout,"$(P)$(R)ADCAD9510BDiv-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 B divider")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510BDIV")
    field(VAL,"35")
}

record(longin,"$(P)$(R)ADCAD9510BDiv-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 B divider")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510BDIV")
}

record(longout,"$(P)$(R)ADCAD9510Prescaler-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 prescaler")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PRESCALER")
}

record(longin,"$(P)$(R)ADCAD9510Prescaler-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 prescaler")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PRESCALER")
}

record(longout,"$(P)$(R)ADCAD9510RDiv-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 R divider")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510RDIV")
}

record(longin,"$(P)$(R)ADCAD9510RDiv-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 R divider")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510RDIV")
}

record(mbbo,"$(P)$(R)ADCAD9510PllPDown-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 PLL power down")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLPDOWN")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ONVL,"2")
    field(ONVL,"3")
    field(ZRST,"normal")
    field(ONST,"async_pdown")
    field(TWST,"normal")
    field(THST,"sync_pdown")
}

record(mbbi,"$(P)$(R)ADCAD9510PllPDown-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 PLL power down")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510PLLPDOWN")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ONVL,"2")
    field(ONVL,"3")
    field(ZRST,"normal")
    field(ONST,"async_pdown")
    field(TWST,"normal")
    field(THST,"sync_pdown")
}

record(longout,"$(P)$(R)ADCAD9510MuxStatus-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 mux status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510MUXSTATUS")
    field(VAL,"1")
}

record(longin,"$(P)$(R)ADCAD9510MuxStatus-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 mux status")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510MUXSTATUS")
}

record(mbbo,"$(P)$(R)ADCAD9510CpCurrent-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 CP current")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CPCURRENT")
    field(VAL,"600")
    field(NOBT,"3")
    field(ZRVL,"600")
    field(ONVL,"1200")
    field(TWVL,"1800")
    field(THVL,"2400")
    field(FRVL,"3000")
    field(FVVL,"3600")
    field(SXVL,"4200")
    field(SVVL,"4800")
    field(ZRST,"600")
    field(ONST,"1200")
    field(TWST,"1800")
    field(THST,"2400")
    field(FRST,"3000")
    field(FVST,"3600")
    field(SXST,"4200")
    field(SVST,"4800")
}

record(mbbi,"$(P)$(R)ADCAD9510CpCurrent-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 CP current")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510CPCURRENT")
    field(NOBT,"3")
    field(ZRVL,"600")
    field(ONVL,"1200")
    field(TWVL,"1800")
    field(THVL,"2400")
    field(FRVL,"3000")
    field(FVVL,"3600")
    field(SXVL,"4200")
    field(SVVL,"4800")
    field(ZRST,"600")
    field(ONST,"1200")
    field(TWST,"1800")
    field(THST,"2400")
    field(FRST,"3000")
    field(FVST,"3600")
    field(SXST,"4200")
    field(SVST,"4800")
}

record(longout,"$(P)$(R)ADCAD9510Outputs-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC AD9510 outputs")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510OUTPUTS")
    field(VAL,"31")
}

record(longin,"$(P)$(R)ADCAD9510Outputs-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC AD9510 outputs")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_AD9510OUTPUTS")
}
