#########################
# Waveform Acquisition parameters
#########################

record(longout,"$(P):BPM$(BPM_NUMBER):ACQ:samples"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Number of samples for waveforms")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ACQ_SAMPLES")
}

#record(longout,"$(P):BPM$(BPM_NUMBER):ACQ:channel"){
#    field(DTYP,"asynUInt32Digital")
#    field(DESC,"Channel number for waveforms")
#    field(SCAN,"Passive")
#    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ACQ_CHANNEL")
#}

record(mbbo, "$(P):BPM$(BPM_NUMBER):ACQ:channel"){
	field(DTYP, "asynInt32")
	field(DESC, "Acquisition's channel")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))ACQ_CHANNEL")
	field(SCAN,"Passive")
	field(NOBT,"2")
	field(ZRVL,"0")
	field(ONVL,"1")
	field(TWVL,"2")
	field(THVL,"3")
	field(ZRST,"ADC")
	field(ONST,"ADCSWAP")
	field(TWST,"TBT")
	field(THST,"FOFB")
}

record(mbbo, "$(P):BPM$(BPM_NUMBER):ACQ:trigger"){
	field(DTYP, "asynInt32")
	field(DESC, "Acquisition's trigger")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))ACQ_TRIGGER")
	field(SCAN,"Passive")
	field(NOBT,"3")
	field(ZRVL,"0")
	field(ONVL,"1")
	field(TWVL,"2")
	field(THVL,"3")
	field(FRVL,"4")
	field(ZRST,"stop")
	field(ONST,"now")
	field(TWST,"hw")
	field(THST,"sw")
	field(FRST,"data")
}
