#
# BPM database file
#
# Authors: Juliano Murari
#          Lucas Russo
#
# Created Aug. 03, 2015
#

#######################################
# Amplitude and phase compensation
#######################################

record(mbbo, "$(P)-$(BPM_NUMBER):ADC:compMethod"){
	field(DTYP, "asynInt32")
	field(DESC, "Amplitude and phase compensation method")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))ADC_COMPMETHOD")
	field(SCAN,"Passive")
    field(PINI,"YES")
	field(NOBT,"2")
	field(ZRVL,"0")
	field(ONVL,"1")
	field(TWVL,"2")
	field(THVL,"3")
	field(ZRST,"disable")
	field(ONST,"static")
	field(TWST,"automatic")
	field(THST,"last_automatic")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainAA"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (direct A)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINAA")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainAA_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainAA_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (direct A)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINAA")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainBB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (direct B)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINBB")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainBB_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainBB_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (direct B)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINBB")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainCC"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (direct C)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINCC")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainCC_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainCC_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (direct C)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINCC")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainDD"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set DC static gain (direct D)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINDD")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainDD_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainDD_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (direct D)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINDD")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainAC"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (crossed A-C)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINAC")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainAC_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainAC_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (crossed A-C)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINAC")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainCA"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (crossed C-A)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINCA")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainCA_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainCA_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (crossed C-A)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINCA")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainBD"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (crossed B-D)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINBD")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainBD_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainBD_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (crossed B-D)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINBD")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:gainDB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC static gain (crossed D-B)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINDB")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:gainDB_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:gainDB_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC static gain (crossed D-B)")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_GAINDB")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:sw"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"matched")
    field(ONST,"direct")
    field(TWST,"inverted")
    field(THST,"switching")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:sw_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:sw_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"matched")
    field(ONST,"direct")
    field(TWST,"inverted")
    field(THST,"switching")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:swDly"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SWDLY")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:swDly_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:swDly_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SWDLY")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:swDivClk"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching divider clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW_DIVCLK")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:swDivClk_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:swDivClk_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching divider clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SW_DIVCLK")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:swEn"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set switching status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SWEN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:swEn_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:swEn_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get switching status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_SWEN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:wdwEn"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC windowing status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_WDW")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:wdwEn_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:wdwEn_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC windowing status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_WDW")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC:wdwDly"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC windowing delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_WDWDLY")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:wdwDly_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC:wdwDly_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC windowing delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_WDWDLY")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:trigDir"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC trigger direction")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGDIR")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"output")
    field(ONST,"input")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:trigDir_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:trigDir_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC trigger direction")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGDIR")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"output")
    field(ONST,"input")
}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC:trigTerm"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC trigger 50ohm termination")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGTERM")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
    field(FLNK,"$(P)-$(BPM_NUMBER):ADC:trigTerm_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):ADC:trigTerm_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC trigger 50ogm termination")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TRIGTERM")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disable")
    field(ONST,"enable")
}
