#
# BPM database file
#
# Authors: Juliano Murari
#          Lucas Russo
#
# Created Aug. 03, 2015
#

#########################
# DSP parameters
#########################

record(longout,"$(P)$(R)PosKx-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set kx")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KX")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)PosKx-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get kx")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KX")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)PosKy-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ky")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KY")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)PosKy-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ky")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KY")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)PosKq-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set kq")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KQ")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)PosKq-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get kq")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KQ")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)PosKsum-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ksum")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KSUM")
}

record(longin,"$(P)$(R)PosKsum-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ksum")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KSUM")
}

record(longout,"$(P)$(R)PosXOffset-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"set X offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))DSP_XOFFSET")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)PosXOffset-RB"){
    field(DTYP,"asynInt32")
    field(DESC,"get X Offset")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))DSP_XOFFSET")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)PosYOffset-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"set Y offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))DSP_YOFFSET")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)PosYOffset-RB"){
    field(DTYP,"asynInt32")
    field(DESC,"get Y Offset")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))DSP_YOFFSET")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)PosQOffset-SP"){
    field(DTYP,"asynInt32")
    field(DESC,"set Q offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))DSP_QOFFSET")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)PosQOffset-RB"){
    field(DTYP,"asynInt32")
    field(DESC,"get Q Offset")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))DSP_QOFFSET")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)AmpGainCh0-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set Amplitude Gain Ch0")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_AMPGAINCH0")
}

record(longin,"$(P)$(R)AmpGainCh0-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get Amplitude Gain Ch0")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_AMPGAINCH0")
}

record(longout,"$(P)$(R)AmpGainCh1-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set Amplitude Gain Ch1")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_AMPGAINCH1")
}

record(longin,"$(P)$(R)AmpGainCh1-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get Amplitude Gain Ch1")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_AMPGAINCH1")
}

record(longout,"$(P)$(R)AmpGainCh2-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set Amplitude Gain Ch2")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_AMPGAINCH2")
}

record(longin,"$(P)$(R)AmpGainCh2-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get Amplitude Gain Ch2")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_AMPGAINCH2")
}

record(longout,"$(P)$(R)AmpGainCh3-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set Amplitude Gain Ch3")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_AMPGAINCH3")
}

record(longin,"$(P)$(R)AmpGainCh3-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get Amplitude Gain Ch3")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_AMPGAINCH3")
}

# Only for compatibility
record(longout,"$(P)$(R)PosSumOffset-SP"){
    field(DESC,"set Sum offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(EGU, "nm")
    field(VAL, "0")
}

# Only for compatibility
record(longin,"$(P)$(R)PosSumOffset-RB"){
    field(DESC,"get Sum Offset")
    field(SCAN,"Passive")
    field(EGU, "nm")
    field(VAL, "0")
}

############################################################################
## Hw K factors and Offset parameters
############################################################################

record(bo,"$(P)$(R)$(GLOBAL_ARRAY_NAME_XY)PosCal-Sel") {
    field(DESC, "Set position $(GLOBAL_ARRAY_NAME_XY) calibration")
    field(PINI, "YES")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(FLNK, "$(P)$(R)$(GLOBAL_ARRAY_NAME_XY)PosCal-Sts")
}

record(bi,"$(P)$(R)$(GLOBAL_ARRAY_NAME_XY)PosCal-Sts") {
    field(DESC, "Get position $(GLOBAL_ARRAY_NAME_XY) calibration")
    field(INP, "$(P)$(R)$(GLOBAL_ARRAY_NAME_XY)PosCal-Sel")
    field(SCAN, "Passive")
    field(ZNAM, "Off")
    field(ONAM, "On")
}

record(bo,"$(P)$(R)$(GLOBAL_ARRAY_NAME_Q)PosCal-Sel") {
    field(DESC, "Set position $(GLOBAL_ARRAY_NAME_Q) calibration")
    field(PINI, "YES")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(FLNK, "$(P)$(R)$(GLOBAL_ARRAY_NAME_Q)PosCal-Sts")
}

record(bi,"$(P)$(R)$(GLOBAL_ARRAY_NAME_Q)PosCal-Sts") {
    field(DESC, "Get position $(GLOBAL_ARRAY_NAME_Q) calibration")
    field(INP, "$(P)$(R)$(GLOBAL_ARRAY_NAME_Q)PosCal-Sel")
    field(SCAN, "Passive")
    field(ZNAM, "Off")
    field(ONAM, "On")
}

record(bo,"$(P)$(R)$(GLOBAL_ARRAY_NAME_SUM)PosCal-Sel") {
    field(DESC, "Set position $(GLOBAL_ARRAY_NAME_SUM) calibration")
    field(PINI, "YES")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(FLNK, "$(P)$(R)$(GLOBAL_ARRAY_NAME_SUM)PosCal-Sts")
}

record(bi,"$(P)$(R)$(GLOBAL_ARRAY_NAME_SUM)PosCal-Sts") {
    field(DESC, "Get position $(GLOBAL_ARRAY_NAME_SUM) calibration")
    field(INP, "$(P)$(R)$(GLOBAL_ARRAY_NAME_SUM)PosCal-Sel")
    field(SCAN, "Passive")
    field(ZNAM, "Off")
    field(ONAM, "On")
}

############################################################################
## General parameters
############################################################################

record(ao,"$(P)$(R)MONITUpdtTime-SP"){
    field(DESC,"set MONIT AMP/POS update time")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(DRVH,"1")
    field(DRVL,"0.001")
    field(HOPR,"1")
    field(LOPR,"0.001")
    field(PREC,"3")
    field(EGU, "s")
    field(FLNK,"$(P)$(R)MONITUpdtTimeConv PP NMS")
    field(VAL, "0.01")
}

record(calcout,"$(P)$(R)MONITUpdtTimeConv"){
    field(DESC,"MONIT AMP/POS update time conv")
    field(SCAN,"Passive")
    field(INPA, "$(P)$(R)MONITUpdtTime-SP NPP NMS")
    field(INPB, "1000")
    field(CALC, "FLOOR(A*B)")
    field(OOPT, "On Change")
    field(OUT, "$(P)$(R)MONITPollTime-SP PP NMS")
}

record(longout,"$(P)$(R)MONITPollTime-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set MONIT AMP/POS poll time")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONIT_POLL_TIME")
    field(EGU, "ms")
}

record(longin,"$(P)$(R)MONITPollTime-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get MONIT AMP/POS poll time")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONIT_POLL_TIME")
    field(EGU, "ms")
    field(FLNK, "$(P)$(R)MONITPollTimeConv PP NMS")
}

record(calcout,"$(P)$(R)MONITPollTimeConv"){
    field(DESC,"MONIT AMP/POS poll time conv")
    field(SCAN,"Passive")
    field(INPA, "$(P)$(R)MONITPollTime-RB NPP NMS")
    field(INPB, "1000")
    field(CALC, "A/B")
    field(OOPT, "On Change")
    field(OUT, "$(P)$(R)MONITUpdtTime-RB PP NMS")
}

record(ai,"$(P)$(R)MONITUpdtTime-RB"){
    field(DESC,"get MONIT AMP/POS update time")
    field(SCAN,"Passive")
    field(HOPR,"1")
    field(LOPR,"0.001")
    field(PREC,"3")
    field(EGU, "s")
}

record(longin,"$(P)$(R)AmplA-Mon"){
    field(DESC,"Monitoring Ampltitude A")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONIT_AArrayData.TIME")
    field(INP,  "$(P)$(R)MONIT_AArrayData CPP NMS")
    field(EGU, "au")
}

record(longin,"$(P)$(R)AmplB-Mon"){
    field(DESC,"Monitoring Ampltitude B")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONIT_BArrayData.TIME")
    field(INP,  "$(P)$(R)MONIT_BArrayData CPP NMS")
    field(EGU, "au")
}

record(longin,"$(P)$(R)AmplC-Mon"){
    field(DESC,"Monitoring Ampltitude C")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONIT_CArrayData.TIME")
    field(INP,  "$(P)$(R)MONIT_CArrayData CPP NMS")
    field(EGU, "au")
}

record(longin,"$(P)$(R)AmplD-Mon"){
    field(DESC,"Monitoring Ampltitude D")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONIT_DArrayData.TIME")
    field(INP,  "$(P)$(R)MONIT_DArrayData CPP NMS")
    field(EGU, "au")
}

record(calc,"$(P)$(R)PosX-Mon"){
    field(DESC,"Monitoring Position X")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONIT_XArrayData.TIME")
    field(INPA, "$(P)$(R)MONIT_XArrayData CPP NMS")
    field(INPB, "$(P)$(R)PosKx-RB.VAL NPP NMS")
    field(INPC, "$(P)$(R)PosXOffset-RB.VAL NPP NMS")
    field(CALC, "B*A-C")
    field(EGU, "nm")
}

record(calc,"$(P)$(R)PosXFake-Mon"){
    field(DESC,"Monitoring Position X Fake")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONIT_FAKEXArrayData.TIME")
    field(INPA, "$(P)$(R)MONIT_FAKEXArrayData CPP NMS")
    field(INPB, "$(P)$(R)PosKx-RB.VAL NPP NMS")
    field(INPC, "$(P)$(R)PosXOffset-RB.VAL NPP NMS")
    field(CALC, "B*A-C")
    field(EGU, "nm")
}

record(calc,"$(P)$(R)PosY-Mon"){
    field(DESC,"Monitoring Position Y")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONIT_YArrayData.TIME")
    field(INPA, "$(P)$(R)MONIT_YArrayData CPP NMS")
    field(INPB, "$(P)$(R)PosKy-RB.VAL NPP NMS")
    field(INPC, "$(P)$(R)PosYOffset-RB.VAL NPP NMS")
    field(CALC, "B*A-C")
    field(EGU, "nm")
}

record(calc,"$(P)$(R)PosYFake-Mon"){
    field(DESC,"Monitoring Position Y Fake")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONIT_FAKEYArrayData.TIME")
    field(INPA, "$(P)$(R)MONIT_FAKEYArrayData CPP NMS")
    field(INPB, "$(P)$(R)PosKy-RB.VAL NPP NMS")
    field(INPC, "$(P)$(R)PosYOffset-RB.VAL NPP NMS")
    field(CALC, "B*A-C")
    field(EGU, "nm")
}

record(calc,"$(P)$(R)PosQ-Mon"){
    field(DESC,"Monitoring Position Q")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONIT_QArrayData.TIME")
    field(INPA, "$(P)$(R)MONIT_QArrayData CPP NMS")
    field(INPB, "$(P)$(R)PosKq-RB.VAL NPP NMS")
    field(INPC, "$(P)$(R)PosQOffset-RB.VAL NPP NMS")
    field(CALC, "B*A-C")
    field(EGU, "nm")
}

record(calc,"$(P)$(R)Sum-Mon"){
    field(DESC,"Monitoring Sum")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONIT_SUMArrayData.TIME")
    field(INPA, "$(P)$(R)MONIT_SUMArrayData CPP NMS")
    field(INPB, "$(P)$(R)PosKsum-RB.VAL NPP NMS")
    field(CALC, "B*A")
    field(EGU, "au")
}

record(mbbo,"$(P)$(R)SwTagEn-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Switching Tag Enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_SW_TAG_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(mbbi,"$(P)$(R)SwTagEn-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Switching Tag Enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_SW_TAG_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(mbbo,"$(P)$(R)SwDataMaskEn-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Data Mask Enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_SW_DATA_MASK_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(mbbi,"$(P)$(R)SwDataMaskEn-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Data Mask Enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_SW_DATA_MASK_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(longout,"$(P)$(R)SwDataMaskSamples-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Data Mask Samples")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_SW_DATA_MASK_SAMPLES")
}

record(longin,"$(P)$(R)SwDataMaskSamples-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Data Mask Samples")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_SW_DATA_MASK_SAMPLES")
}

record(mbbo,"$(P)$(R)TbtTagEn-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Tbt Tag Enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_TAG_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(mbbi,"$(P)$(R)TbtTagEn-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Tbt Tag Enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_TAG_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(longout,"$(P)$(R)TbtTagDly-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Tbt Tag Delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_TAG_DLY")
}

record(longin,"$(P)$(R)TbtTagDly-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Tbt Tag Delay")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_TAG_DLY")
}

record(mbbo,"$(P)$(R)TbtDataMaskEn-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set TBT Data Mask Enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_DATA_MASK_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(mbbi,"$(P)$(R)TbtDataMaskEn-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get TBT Data Mask Enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_DATA_MASK_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(longout,"$(P)$(R)TbtDataMaskSamplesBeg-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Data Mask Samples Beg.")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_DATA_MASK_SAMPLES_BEG")
}

record(longin,"$(P)$(R)TbtDataMaskSamplesBeg-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Data Mask Samples Beg.")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_DATA_MASK_SAMPLES_BEG")
}

record(longout,"$(P)$(R)TbtDataMaskSamplesEnd-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Data Mask Samples End.")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_DATA_MASK_SAMPLES_END")
}

record(longin,"$(P)$(R)TbtDataMaskSamplesEnd-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Data Mask Samples End.")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_DATA_MASK_SAMPLES_END")
}

record(mbbo,"$(P)$(R)SwTagDesyncCntRst-Sel") {
    field(DTYP,"asynUInt32Digital")
    field(DESC, "Set Sw Counter Reset")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(NOBT, "1")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(ZRST, "No Change")
    field(ONST, "Reset")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_SW_TAG_DESYNC_CNT_RST")
}

record(mbbi,"$(P)$(R)SwTagDesyncCntRst-Sts") {
    field(DTYP,"asynUInt32Digital")
    field(DESC, "Get Sw Counter Reset")
    field(SCAN, "I/O Intr")
    field(NOBT, "1")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(ZRST, "No Change")
    field(ONST, "Reset")
    field(INP, "@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_SW_TAG_DESYNC_CNT_RST")
}

record(longin,"$(P)$(R)SwTagDesyncCnt-Mon"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Sw Desync Counter")
    field(SCAN,"2 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_SW_TAG_DESYNC_CNT")
}

record(mbbo,"$(P)$(R)TbtTagDesyncCntRst-Sel") {
    field(DTYP,"asynUInt32Digital")
    field(DESC, "Set Tbt Counter Reset")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(NOBT, "1")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(ZRST, "No Change")
    field(ONST, "Reset")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_TAG_DESYNC_CNT_RST")
}

record(mbbi,"$(P)$(R)TbtTagDesyncCntRst-Sts") {
    field(DTYP,"asynUInt32Digital")
    field(DESC, "Get Tbt Counter Reset")
    field(SCAN, "I/O Intr")
    field(NOBT, "1")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(ZRST, "No Change")
    field(ONST, "Reset")
    field(INP, "@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_TAG_DESYNC_CNT_RST")
}

record(longin,"$(P)$(R)TbtTagDesyncCnt-Mon"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Tbt Desync Counter")
    field(SCAN,"2 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_TBT_TAG_DESYNC_CNT")
}

record(mbbo,"$(P)$(R)Monit1TagEn-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Monit1 Tag Enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_TAG_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(mbbi,"$(P)$(R)Monit1TagEn-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Monit1 Tag Enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_TAG_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(longout,"$(P)$(R)Monit1TagDly-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Monit1 Tag Delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_TAG_DLY")
}

record(longin,"$(P)$(R)Monit1TagDly-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Monit1 Tag Delay")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_TAG_DLY")
}

record(mbbo,"$(P)$(R)Monit1DataMaskEn-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set MONIT1 Data Mask Enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_DATA_MASK_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(mbbi,"$(P)$(R)Monit1DataMaskEn-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get MONIT1 Data Mask Enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_DATA_MASK_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(longout,"$(P)$(R)Monit1DataMaskSamplesBeg-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Data Mask Samples Beg.")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_DATA_MASK_SAMPLES_BEG")
}

record(longin,"$(P)$(R)Monit1DataMaskSamplesBeg-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Data Mask Samples Beg.")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_DATA_MASK_SAMPLES_BEG")
}

record(longout,"$(P)$(R)Monit1DataMaskSamplesEnd-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Data Mask Samples End.")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_DATA_MASK_SAMPLES_END")
}

record(longin,"$(P)$(R)Monit1DataMaskSamplesEnd-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Data Mask Samples End.")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_DATA_MASK_SAMPLES_END")
}

record(mbbo,"$(P)$(R)Monit1TagDesyncCntRst-Sel") {
    field(DTYP,"asynUInt32Digital")
    field(DESC, "Set Monit1 Counter Reset")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(NOBT, "1")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(ZRST, "No Change")
    field(ONST, "Reset")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_TAG_DESYNC_CNT_RST")
}

record(mbbi,"$(P)$(R)Monit1TagDesyncCntRst-Sts") {
    field(DTYP,"asynUInt32Digital")
    field(DESC, "Get Monit1 Counter Reset")
    field(SCAN, "I/O Intr")
    field(NOBT, "1")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(ZRST, "No Change")
    field(ONST, "Reset")
    field(INP, "@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_TAG_DESYNC_CNT_RST")
}

record(longin,"$(P)$(R)Monit1TagDesyncCnt-Mon"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Monit1 Desync Counter")
    field(SCAN,"2 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT1_TAG_DESYNC_CNT")
}

record(mbbo,"$(P)$(R)MonitTagEn-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Monit Tag Enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_TAG_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(mbbi,"$(P)$(R)MonitTagEn-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Monit Tag Enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_TAG_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(longout,"$(P)$(R)MonitTagDly-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Monit Tag Delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_TAG_DLY")
}

record(longin,"$(P)$(R)MonitTagDly-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Monit Tag Delay")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_TAG_DLY")
}

record(mbbo,"$(P)$(R)MonitDataMaskEn-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set MONIT Data Mask Enable")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_DATA_MASK_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(mbbi,"$(P)$(R)MonitDataMaskEn-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get MONIT Data Mask Enable")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_DATA_MASK_EN")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"disabled")
    field(ONST,"enabled")
}

record(longout,"$(P)$(R)MonitDataMaskSamplesBeg-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Data Mask Samples Beg.")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_DATA_MASK_SAMPLES_BEG")
}

record(longin,"$(P)$(R)MonitDataMaskSamplesBeg-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Data Mask Samples Beg.")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_DATA_MASK_SAMPLES_BEG")
}

record(longout,"$(P)$(R)MonitDataMaskSamplesEnd-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set Data Mask Samples End.")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_DATA_MASK_SAMPLES_END")
}

record(longin,"$(P)$(R)MonitDataMaskSamplesEnd-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Data Mask Samples End.")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_DATA_MASK_SAMPLES_END")
}

record(mbbo,"$(P)$(R)MonitTagDesyncCntRst-Sel") {
    field(DTYP,"asynUInt32Digital")
    field(DESC, "Set Monit Counter Reset")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(NOBT, "1")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(ZRST, "No Change")
    field(ONST, "Reset")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_TAG_DESYNC_CNT_RST")
}

record(mbbi,"$(P)$(R)MonitTagDesyncCntRst-Sts") {
    field(DTYP,"asynUInt32Digital")
    field(DESC, "Get Monit Counter Reset")
    field(SCAN, "I/O Intr")
    field(NOBT, "1")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(ZRST, "No Change")
    field(ONST, "Reset")
    field(INP, "@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_TAG_DESYNC_CNT_RST")
}

record(longin,"$(P)$(R)MonitTagDesyncCnt-Mon"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get Monit Desync Counter")
    field(SCAN,"2 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_MONIT_TAG_DESYNC_CNT")
}
