#
# BPM database file
#
# Authors: Juliano Murari
#          Lucas Russo
#
# Created Aug. 03, 2015
#

#########################
# DSP parameters
#########################

record(longout,"$(P)$(R)DSPKx"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set kx")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KX")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)DSPKx-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get kx")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(TSEL, "$(P)$(R)MONITUpdt-RB.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KX")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)DSPKy"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ky")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KY")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)DSPKy-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ky")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(TSEL, "$(P)$(R)MONITUpdt-RB.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KY")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)DSPKq"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set kq")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KQ")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)DSPKq-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get kyq")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(TSEL, "$(P)$(R)MONITUpdt-RB.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KQ")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)DSPKsum"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ksum")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KSUM")
}

record(longin,"$(P)$(R)DSPKsum-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ksum")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(TSEL, "$(P)$(R)MONITUpdt-RB.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KSUM")
}

record(longout,"$(P)$(R)DSPXOffset"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set X offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_XOFFSET")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)DSPXOffset-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get X Offset")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(TSEL, "$(P)$(R)MONITUpdt-RB.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_XOFFSET")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)DSPYOffset"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set Y offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_YOFFSET")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)DSPYOffset-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get Y Offset")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(TSEL, "$(P)$(R)MONITUpdt-RB.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_YOFFSET")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)DSPQOffset"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set Q offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_QOFFSET")
    field(EGU, "nm")
}

record(longin,"$(P)$(R)DSPQOffset-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get Q Offset")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(TSEL, "$(P)$(R)MONITUpdt-RB.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_QOFFSET")
    field(EGU, "nm")
}

record(longout,"$(P)$(R)MONITUpdt"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Update MONIT AMP/POS")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONIT_UPDT")
    field(FLNK,"$(P)$(R)MONITUpdt-RB")
}

record(longin,"$(P)$(R)MONITUpdt-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get MONIT AMP/POS update status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONIT_UPDT")
    field(FLNK,"$(P)$(R)X")
}

record(longin,"$(P)$(R)A"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Monitoring Ampltitude A")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONITAMP_A")
    field(EGU, "au")
}

record(longin,"$(P)$(R)B"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Monitoring Ampltitude B")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONITAMP_B")
    field(EGU, "au")
}

record(longin,"$(P)$(R)C"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Monitoring Ampltitude C")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONITAMP_C")
    field(EGU, "au")
}

record(longin,"$(P)$(R)D"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Monitoring Ampltitude D")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONITAMP_D")
    field(EGU, "au")
}

# This keeps the MONIT/AMP records synched
record(ai,"$(P)$(R)MONITUpdtAll"){
    field(PINI,"YES")
    field(SCAN,".1 second")
    field(FLNK,"$(P)$(R)MONITUpdt 1")
}

record(calcout,"$(P)$(R)X"){
    field(PINI,"YES")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(CALC,"a*((b-c-d+e)/(b+c+d+e))-f")
    field(INPA,"$(P)$(R)DSPKx.VAL PP")
    field(INPB,"$(P)$(R)A.VAL PP")
    field(INPC,"$(P)$(R)B.VAL PP")
    field(INPD,"$(P)$(R)C.VAL PP")
    field(INPE,"$(P)$(R)D.VAL PP")
    field(INPF,"$(P)$(R)DSPXOffset.VAL PP")
    field(OUT, "0")
    field(FLNK,"$(P)$(R)XFake")
    field(EGU, "nm")
}

record(calcout,"$(P)$(R)XFake"){
    field(PINI,"YES")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(CALC,"a*((b-c)/(b+c))-d")
    field(INPA,"$(P)$(R)DSPKx.VAL NPP")
    field(INPB,"$(P)$(R)A.VAL NPP")
    field(INPC,"$(P)$(R)C.VAL NPP")
    field(INPD,"$(P)$(R)DSPXOffset.VAL NPP")
    field(OUT, "0")
    field(FLNK,"$(P)$(R)Y")
    field(EGU, "nm")
}

record(calcout,"$(P)$(R)Y"){
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(CALC,"a*((b+c-d-e)/(b+c+d+e))-f")
    field(INPA,"$(P)$(R)DSPKy.VAL PP")
    field(INPB,"$(P)$(R)A.VAL NPP")
    field(INPC,"$(P)$(R)B.VAL NPP")
    field(INPD,"$(P)$(R)C.VAL NPP")
    field(INPE,"$(P)$(R)D.VAL NPP")
    field(INPF,"$(P)$(R)DSPYOffset.VAL PP")
    field(OUT, "0")
    field(FLNK,"$(P)$(R)YFake")
    field(EGU, "nm")
}

record(calcout,"$(P)$(R)YFake"){
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(CALC,"a*((b-c)/(b+c))-d")
    field(INPA,"$(P)$(R)DSPKy.VAL NPP")
    field(INPB,"$(P)$(R)B.VAL NPP")
    field(INPC,"$(P)$(R)D.VAL NPP")
    field(INPD,"$(P)$(R)DSPYOffset.VAL NPP")
    field(OUT, "0")
    field(FLNK,"$(P)$(R)Q")
    field(EGU, "nm")
}

record(calcout,"$(P)$(R)Q"){
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(CALC,"a*((b-c+d-e)/(b+c+d+e))-f")
    field(INPA,"$(P)$(R)DSPKq.VAL PP")
    field(INPB,"$(P)$(R)A.VAL NPP")
    field(INPC,"$(P)$(R)B.VAL NPP")
    field(INPD,"$(P)$(R)C.VAL NPP")
    field(INPE,"$(P)$(R)D.VAL NPP")
    field(INPF,"$(P)$(R)DSPQOffset.VAL PP")
    field(OUT, "0")
    field(FLNK,"$(P)$(R)Sum")
    field(EGU, "nm")
}

record(calcout,"$(P)$(R)Sum"){
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(SCAN,"Passive")
    field(TSEL, "$(P)$(R)MONITUpdt.TIME")
    field(CALC,"(a+b+c+d)")
    field(INPA,"$(P)$(R)A.VAL NPP")
    field(INPB,"$(P)$(R)B.VAL NPP")
    field(INPC,"$(P)$(R)C.VAL NPP")
    field(INPD,"$(P)$(R)D.VAL NPP")
    field(OUT, "0")
    field(EGU, "au")
}
