#
# BPM database file
#
# Authors: Juliano Murari
#          Lucas Russo
#
# Created Aug. 03, 2015
#

#########################
# DSP parameters
#########################

record(longout,"$(P)-$(BPM_NUMBER):DSP:Kx"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set kx")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KX")
    field(FLNK,"$(P)-$(BPM_NUMBER):DSP:Kx_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):DSP:Kx_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get kx")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KX")
}

record(longout,"$(P)-$(BPM_NUMBER):DSP:Ky"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ky")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KY")
    field(FLNK,"$(P)-$(BPM_NUMBER):DSP:Ky_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):DSP:Ky_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ky")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KY")
}

record(longout,"$(P)-$(BPM_NUMBER):DSP:Kq"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set kq")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KQ")
    field(FLNK,"$(P)-$(BPM_NUMBER):DSP:Kq_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):DSP:Kq_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get kyq")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KQ")
}

record(longout,"$(P)-$(BPM_NUMBER):DSP:Ksum"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ksum")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KSUM")
    field(FLNK,"$(P)-$(BPM_NUMBER):DSP:Ksum_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):DSP:Ksum_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ksum")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_KSUM")
}

record(longout,"$(P)-$(BPM_NUMBER):DSP:XOffset"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set X offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_XOFFSET")
    field(FLNK,"$(P)-$(BPM_NUMBER):DSP:XOffset_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):DSP:XOffset_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get X Offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_XOFFSET")
}

record(longout,"$(P)-$(BPM_NUMBER):DSP:YOffset"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set Y offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_YOFFSET")
    field(FLNK,"$(P)-$(BPM_NUMBER):DSP:YOffset_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):DSP:YOffset_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get Y Offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_YOFFSET")
}

record(longout,"$(P)-$(BPM_NUMBER):DSP:QOffset"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set Q offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_QOFFSET")
    field(FLNK,"$(P)-$(BPM_NUMBER):DSP:QOffset_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):DSP:QOffset_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get Q Offset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))DSP_QOFFSET")
}

record(longout,"$(P)-$(BPM_NUMBER):MONIT:Updt"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Update MONIT AMP/POS")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONIT_UPDT")
    field(FLNK,"$(P)-$(BPM_NUMBER):MONIT:Updt_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):MONIT:Updt_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get MONIT AMP/POS update status")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONIT_UPDT")
    field(FLNK,"$(P)-$(BPM_NUMBER):MONIT:X")
}

record(longin,"$(P)-$(BPM_NUMBER):MONIT:A"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Monitoring Ampltitude A")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONITAMP_A")
}

record(longin,"$(P)-$(BPM_NUMBER):MONIT:B"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Monitoring Ampltitude B")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONITAMP_B")
}

record(longin,"$(P)-$(BPM_NUMBER):MONIT:C"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Monitoring Ampltitude C")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONITAMP_C")
}

record(longin,"$(P)-$(BPM_NUMBER):MONIT:D"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Monitoring Ampltitude D")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))MONITAMP_D")
}

# This keeps the MONIT/AMP records synched
record(ai,"$(P)-$(BPM_NUMBER):MONIT:UpdtAll"){
    field(PINI,"YES")
    field(SCAN,".2 second")
    field(FLNK,"$(P)-$(BPM_NUMBER):MONIT:Updt 1")
}

record(calcout,"$(P)-$(BPM_NUMBER):MONIT:X"){
    field(PINI,"YES")
    field(MDEL, "-1")
    field(SCAN,"Passive")
    field(CALC,"a*((b-c-d+e)/(b+c+d+e))-f")
    field(INPA,"$(P)-$(BPM_NUMBER):DSP:Kx.VAL PP")
    field(INPB,"$(P)-$(BPM_NUMBER):MONIT:A.VAL PP")
    field(INPC,"$(P)-$(BPM_NUMBER):MONIT:B.VAL PP")
    field(INPD,"$(P)-$(BPM_NUMBER):MONIT:C.VAL PP")
    field(INPE,"$(P)-$(BPM_NUMBER):MONIT:D.VAL PP")
    field(INPF,"$(P)-$(BPM_NUMBER):DSP:XOffset.VAL PP")
    field(OUT, "0")
    field(FLNK,"$(P)-$(BPM_NUMBER):MONIT:Y")
}

record(calcout,"$(P)-$(BPM_NUMBER):MONIT:Y"){
    field(MDEL, "-1")
    field(SCAN,"Passive")
    field(CALC,"a*((b+c-d-e)/(b+c+d+e))-f")
    field(INPA,"$(P)-$(BPM_NUMBER):DSP:Ky.VAL PP")
    field(INPB,"$(P)-$(BPM_NUMBER):MONIT:A.VAL")
    field(INPC,"$(P)-$(BPM_NUMBER):MONIT:B.VAL")
    field(INPD,"$(P)-$(BPM_NUMBER):MONIT:C.VAL")
    field(INPE,"$(P)-$(BPM_NUMBER):MONIT:D.VAL")
    field(INPF,"$(P)-$(BPM_NUMBER):DSP:YOffset.VAL PP")
    field(OUT, "0")
    field(FLNK,"$(P)-$(BPM_NUMBER):MONIT:Q")
}

record(calcout,"$(P)-$(BPM_NUMBER):MONIT:Q"){
    field(MDEL, "-1")
    field(SCAN,"Passive")
    field(CALC,"a*((b-c+d-e)/(b+c+d+e))-f")
    field(INPA,"$(P)-$(BPM_NUMBER):DSP:Kq.VAL PP")
    field(INPB,"$(P)-$(BPM_NUMBER):MONIT:A.VAL")
    field(INPC,"$(P)-$(BPM_NUMBER):MONIT:B.VAL")
    field(INPD,"$(P)-$(BPM_NUMBER):MONIT:C.VAL")
    field(INPE,"$(P)-$(BPM_NUMBER):MONIT:D.VAL")
    field(INPF,"$(P)-$(BPM_NUMBER):DSP:QOffset.VAL PP")
    field(OUT, "0")
    field(FLNK,"$(P)-$(BPM_NUMBER):MONIT:SUM")
}

record(calcout,"$(P)-$(BPM_NUMBER):MONIT:SUM"){
    field(MDEL, "-1")
    field(SCAN,"Passive")
    field(CALC,"(a+b+c+d)")
    field(INPA,"$(P)-$(BPM_NUMBER):MONIT:A.VAL")
    field(INPB,"$(P)-$(BPM_NUMBER):MONIT:B.VAL")
    field(INPC,"$(P)-$(BPM_NUMBER):MONIT:C.VAL")
    field(INPD,"$(P)-$(BPM_NUMBER):MONIT:D.VAL")
    field(OUT, "0")
}
