#
# BPM database file
#
# Authors: Lucas Russo
#
# Created Oct. 10, 2016
#

#######################################
# Amplitude and phase compensation
#######################################

record(longout,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):testMode"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ISLA216P25 test mode")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TEST_MODE")
}

# Not implemented yet
#record(longin,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):testMode_RBV"){
#    field(DTYP,"asynUInt32Digital")
#    field(DESC,"get ISLA216P25 test mode")
#    field(PINI,"YES")
#    field(SCAN,"I/O Intr")
#    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TEST_MODE")
#}

record(mbbo,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):rstModes"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ISLA216P25 reset mode")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_RST_MODES")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"pin control")
    field(ONST,"normal")
    field(TWST,"nap")
    field(THST,"sleep")
}

# Not implemented yet
#record(mbbi,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):rstModes_RBV"){
#    field(DTYP,"asynUInt32Digital")
#    field(DESC,"get ISLA216P25 reset mode")
#    field(PINI,"YES")
#    field(SCAN,"I/O Intr")
#    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_RST_MODES")
#    field(NOBT,"2")
#    field(ZRVL,"0")
#    field(ONVL,"1")
#    field(TWVL,"2")
#    field(THVL,"3")
#    field(ZRST,"pin control")
#    field(ONST,"normal")
#    field(TWST,"nap")
#    field(THST,"sleep")
#}

record(longin,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):temp_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ISLA216P25 temperature code")
    field(PINI,"YES")
    field(SCAN,"5 second")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_TEMP")
}

record(mbbo, "$(P)-$(BPM_NUMBER):ADC:regRead"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set ADC register read")
    field(PINI,"YES")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_READ")
    field(SCAN,"Passive")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"nothing")
    field(ONST,"read")
}

record(mbbi, "$(P)-$(BPM_NUMBER):ADC:regRead_RBV"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get ADC register read status")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_READ")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"nothing")
    field(ONST,"read")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):regReadData_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get data from ADC register")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_READ_DATA")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):regReadAddr"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set addr to be read to ADC")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_READ_ADDR")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):regReadAddr_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get addr to be read to ADC")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_READ_ADDR")
}

record(mbbo, "$(P)-$(BPM_NUMBER):ADC:regWrite"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set ADC register write")
    field(PINI,"YES")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_WRITE")
    field(SCAN,"Passive")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"nothing")
    field(ONST,"write")
}

record(mbbi, "$(P)-$(BPM_NUMBER):ADC:regWrite_RBV"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get ADC register write status")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_WRITE")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"nothing")
    field(ONST,"write")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):regWriteData"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set data to be written to ADC")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_WRITE_DATA")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):regWriteData_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get data to be written to ADC")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_WRITE_DATA")
}

record(longout,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):regWriteAddr"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set addr to be written to ADC")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_WRITE_ADDR")
}

record(longin,"$(P)-$(BPM_NUMBER):ADC$(ADC_CHAN):regWriteAddr_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get addr to be written to ADC")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))ADC_REG_WRITE_ADDR")
}
