#
# BPM database file
#
# Authors: Lucas Russo
#
# Created Mar. 21, 2017
#

record(mbbo,"$(P)$(R)FMCPICORngR0"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set FMCPICO ADC0 Range")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))FMCPICO_RNG_R0")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"1uA range")
    field(ONST,"1mA range")
}

record(mbbi,"$(P)$(R)FMCPICORngR0-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get FMCPICO ADC0 Range")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))FMCPICO_RNG_R0")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"1uA range")
    field(ONST,"1mA range")
}

record(mbbo,"$(P)$(R)FMCPICORngR1"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set FMCPICO ADC1 Range")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))FMCPICO_RNG_R1")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"1uA range")
    field(ONST,"1mA range")
}

record(mbbi,"$(P)$(R)FMCPICORngR1-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get FMCPICO ADC1 Range")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))FMCPICO_RNG_R1")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"1uA range")
    field(ONST,"1mA range")
}

record(mbbo,"$(P)$(R)FMCPICORngR2"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set FMCPICO ADC2 Range")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))FMCPICO_RNG_R2")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"1uA range")
    field(ONST,"1mA range")
}

record(mbbi,"$(P)$(R)FMCPICORngR2-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get FMCPICO ADC2 Range")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))FMCPICO_RNG_R2")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"1uA range")
    field(ONST,"1mA range")
}

record(mbbo,"$(P)$(R)FMCPICORngR3"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set FMCPICO ADC3 Range")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))FMCPICO_RNG_R3")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"1uA range")
    field(ONST,"1mA range")
}

record(mbbi,"$(P)$(R)FMCPICORngR3-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get FMCPICO ADC3 Range")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))FMCPICO_RNG_R3")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"1uA range")
    field(ONST,"1mA range")
}
