#
# BPM database file
#
# Authors: Juliano Murari
#          Lucas Russo
#
# Created Aug. 03, 2015
#

#########################
# General Board information parameters
#########################

record(longin,"$(P)-$(BPM_NUMBER):INFO:HarmonicNumber_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get accelerator harmonic number")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_HARMNUMB")
}

record(longout,"$(P)-$(BPM_NUMBER):INFO:ADCClkFreq"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC clock frequency")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_ADCCLKFREQ")
    field(EGU, "Hz")
}

record(longin,"$(P)-$(BPM_NUMBER):INFO:ADCClkFreq_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC clock frequency")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_ADCCLKFREQ")
    field(EGU, "Hz")
}

record(longin,"$(P)-$(BPM_NUMBER):INFO:TBTRate_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get TBT rate factor")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_TBTRATE")
}

record(longin,"$(P)-$(BPM_NUMBER):INFO:FOFBRate_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get FOFB rate factor")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_FOFBRATE")
}

record(longin,"$(P)-$(BPM_NUMBER):INFO:MONITRate_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get MONIT rate factor")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_MONITRATE")
}
