#
# BPM database file
#
# Authors: Juliano Murari
#          Lucas Russo
#
# Created Aug. 03, 2015
#

#########################
# General Board information parameters
#########################

record(longout,"$(P)$(R)INFOHarmonicNumber"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set accelerator harmonic number")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_HARMNUMB")
}

record(longin,"$(P)$(R)INFOHarmonicNumber-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get accelerator harmonic number")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_HARMNUMB")
}

record(ao,"$(P)$(R)INFOClkFreq"){
    field(DTYP,"asynFloat64")
    field(DESC,"set ADC clock frequency")
    field(PINI,"YES")
    field(PREC, "3")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))INFO_CLKFREQ")
    field(EGU, "Hz")
    field(FLNK, "$(P)$(R)ADCSi57xFreq.PROC")
}

record(ai,"$(P)$(R)INFOClkFreq-RB"){
    field(DTYP,"asynFloat64")
    field(DESC,"get ADC clock frequency")
    field(PINI,"YES")
    field(PREC, "3")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))INFO_CLKFREQ")
    field(EGU, "Hz")
}

record(longout,"$(P)$(R)INFOADCRate"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC rate factor")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_ADCRATE")
}

record(longin,"$(P)$(R)INFOADCRate-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC rate factor")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_ADCRATE")
}

record(longout,"$(P)$(R)INFOTBTRate"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set TBT rate factor")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_TBTRATE")
}

record(longin,"$(P)$(R)INFOTBTRate-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get TBT rate factor")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_TBTRATE")
}

record(longout,"$(P)$(R)INFOFOFBRate"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set FOFB rate factor")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_FOFBRATE")
}

record(longin,"$(P)$(R)INFOFOFBRate-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get FOFB rate factor")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_FOFBRATE")
}

record(longout,"$(P)$(R)INFOMONITRate"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set MONIT rate factor")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_MONITRATE")
}

record(longin,"$(P)$(R)INFOMONITRate-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get MONIT rate factor")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))INFO_MONITRATE")
}
