#
# BPM interlock database file
#

# Interlock control

record(bo,"$(P)$(R)IntlkEn-Sel"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set interlock enable")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_EN")
}

record(bi,"$(P)$(R)IntlkEn-Sts"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock enable")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_EN")
}

record(bo,"$(P)$(R)IntlkClr-Sel"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set interlock clear")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_CLR")
}

record(bi,"$(P)$(R)IntlkClr-Sts"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock clear")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_CLR")
}

record(bo,"$(P)$(R)IntlkMinSumEn-Sel"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set interlock min. sum enable")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_MIN_SUM_EN")
}

record(bi,"$(P)$(R)IntlkMinSumEn-Sts"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock min. sum enable")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_MIN_SUM_EN")
}

record(bo,"$(P)$(R)IntlkTransEn-Sel"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set interlock trans. enable")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_EN")
}

record(bi,"$(P)$(R)IntlkTransEn-Sts"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trans. enable")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_EN")
}

record(bo,"$(P)$(R)IntlkTransClr-Sel"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set interlock trans. clear")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_CLR")
}

record(bi,"$(P)$(R)IntlkTransClr-Sts"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trans. clear")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_CLR")
}

record(bo,"$(P)$(R)IntlkAngEn-Sel"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set interlock ang. enable")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_EN")
}

record(bi,"$(P)$(R)IntlkAngEn-Sts"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock ang. enable")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_EN")
}

record(bo,"$(P)$(R)IntlkAngClr-Sel"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Set interlock ang. clear")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(OUT,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_CLR")
}

record(bi,"$(P)$(R)IntlkAngClr-Sts"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock ang. clear")
    field(SCAN, "I/O Intr")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_CLR")
}

# Interlock bigger status

record(bi,"$(P)$(R)IntlkTransBiggerX-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. trans. X")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_BIGGER_X")
}

record(bi,"$(P)$(R)IntlkTransBiggerY-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. trans. Y")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_BIGGER_Y")
}

record(bi,"$(P)$(R)IntlkTransBiggerLtcX-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. trans. latched X")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_BIGGER_LTC_X")
}

record(bi,"$(P)$(R)IntlkTransBiggerLtcY-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. trans. latched Y")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_BIGGER_LTC_Y")
}

record(bi,"$(P)$(R)IntlkTransBiggerAny-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. trans. any")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_BIGGER_ANY")
}

record(bi,"$(P)$(R)IntlkTransBigger-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. trans.")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_BIGGER")
}

record(bi,"$(P)$(R)IntlkTransBiggerLtc-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. trans. latched")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_BIGGER_LTC")
}

record(bi,"$(P)$(R)IntlkAngBiggerX-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. ang. X")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_BIGGER_X")
}

record(bi,"$(P)$(R)IntlkAngBiggerY-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. ang. Y")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_BIGGER_Y")
}

record(bi,"$(P)$(R)IntlkAngBiggerLtcX-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. ang. latched X")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_BIGGER_LTC_X")
}

record(bi,"$(P)$(R)IntlkAngBiggerLtcY-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. ang. latched Y")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_BIGGER_LTC_Y")
}

record(bi,"$(P)$(R)IntlkAngBiggerAny-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. ang. any")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_BIGGER_ANY")
}

record(bi,"$(P)$(R)IntlkAngBigger-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. ang.")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_BIGGER")
}

record(bi,"$(P)$(R)IntlkAngBiggerLtc-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip max. ang. latched")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_BIGGER_LTC")
}

# Interlock smaller status

record(bi,"$(P)$(R)IntlkTransSmallerX-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. trans. X")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_SMALLER_X")
}

record(bi,"$(P)$(R)IntlkTransSmallerY-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. trans. Y")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_SMALLER_Y")
}

record(bi,"$(P)$(R)IntlkTransSmallerLtcX-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. trans. latched X")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_SMALLER_LTC_X")
}

record(bi,"$(P)$(R)IntlkTransSmallerLtcY-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. trans. latched Y")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_SMALLER_LTC_Y")
}

record(bi,"$(P)$(R)IntlkTransSmallerAny-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. trans. any")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_SMALLER_ANY")
}

record(bi,"$(P)$(R)IntlkTransSmaller-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. trans.")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_SMALLER")
}

record(bi,"$(P)$(R)IntlkTransSmallerLtc-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. trans. latched")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_TRANS_SMALLER_LTC")
}

record(bi,"$(P)$(R)IntlkAngSmallerX-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. ang. X")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_SMALLER_X")
}

record(bi,"$(P)$(R)IntlkAngSmallerY-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. ang. Y")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_SMALLER_Y")
}

record(bi,"$(P)$(R)IntlkAngSmallerLtcX-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. ang. latched X")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_SMALLER_LTC_X")
}

record(bi,"$(P)$(R)IntlkAngSmallerLtcY-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. ang. latched Y")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_SMALLER_LTC_Y")
}

record(bi,"$(P)$(R)IntlkAngSmallerAny-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. ang. any")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_SMALLER_ANY")
}

record(bi,"$(P)$(R)IntlkAngSmaller-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. ang.")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_SMALLER")
}

record(bi,"$(P)$(R)IntlkAngSmallerLtc-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip min. ang. latched")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_ANG_SMALLER_LTC")
}

# Interlock general status

record(bi,"$(P)$(R)Intlk-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK")
}

record(bi,"$(P)$(R)IntlkLtc-Mon"){
    field(DTYP, "asynUInt32Digital")
    field(DESC, "Get interlock trip latched")
    field(SCAN, "2 second")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(INP,  "@asynMask($(PORT),$(ADDR),0x1,$(TIMEOUT))INTLK_LTC")
}


# Interlock limits

record(longout, "$(P)$(R)IntlkLmtMinSum-SP"){
    field(DTYP, "asynInt32")
    field(DESC, "Set interlock minimum sum threshold")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_MIN_SUM")
}

record(longin,  "$(P)$(R)IntlkLmtMinSum-RB"){
    field(DTYP, "asynInt32")
    field(DESC, "Get interlock minimum sum threshold")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_MIN_SUM")
}

record(longout, "$(P)$(R)IntlkLmtTransMaxX-SP"){
    field(DTYP, "asynInt32")
    field(DESC, "Set interlock trans. max X threshold")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_TRANS_MAX_X")
}

record(longin,  "$(P)$(R)IntlkLmtTransMaxX-RB"){
    field(DTYP, "asynInt32")
    field(DESC, "Get interlock trans. max X threshold")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_TRANS_MAX_X")
}

record(longout, "$(P)$(R)IntlkLmtTransMaxY-SP"){
    field(DTYP, "asynInt32")
    field(DESC, "Set interlock trans. max Y threshold")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_TRANS_MAX_Y")
}

record(longin,  "$(P)$(R)IntlkLmtTransMaxY-RB"){
    field(DTYP, "asynInt32")
    field(DESC, "Get interlock trans. max Y threshold")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_TRANS_MAX_Y")
}

record(longout, "$(P)$(R)IntlkLmtAngMaxX-SP"){
    field(DTYP, "asynInt32")
    field(DESC, "Set interlock ang. max X threshold")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_ANG_MAX_X")
}

record(longin,  "$(P)$(R)IntlkLmtAngMaxX-RB"){
    field(DTYP, "asynInt32")
    field(DESC, "Get interlock ang. max X threshold")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_ANG_MAX_X")
}

record(longout, "$(P)$(R)IntlkLmtAngMaxY-SP"){
    field(DTYP, "asynInt32")
    field(DESC, "Set interlock ang. max Y threshold")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_ANG_MAX_Y")
}

record(longin,  "$(P)$(R)IntlkLmtAngMaxY-RB"){
    field(DTYP, "asynInt32")
    field(DESC, "Get interlock ang. max Y threshold")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_ANG_MAX_Y")
}

record(longout, "$(P)$(R)IntlkLmtTransMinX-SP"){
    field(DTYP, "asynInt32")
    field(DESC, "Set interlock trans. min X threshold")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_TRANS_MIN_X")
}

record(longin,  "$(P)$(R)IntlkLmtTransMinX-RB"){
    field(DTYP, "asynInt32")
    field(DESC, "Get interlock trans. min X threshold")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_TRANS_MIN_X")
}

record(longout, "$(P)$(R)IntlkLmtTransMinY-SP"){
    field(DTYP, "asynInt32")
    field(DESC, "Set interlock trans. min Y threshold")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_TRANS_MIN_Y")
}

record(longin,  "$(P)$(R)IntlkLmtTransMinY-RB"){
    field(DTYP, "asynInt32")
    field(DESC, "Get interlock trans. min Y threshold")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_TRANS_MIN_Y")
}

record(longout, "$(P)$(R)IntlkLmtAngMinX-SP"){
    field(DTYP, "asynInt32")
    field(DESC, "Set interlock ang. min X threshold")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_ANG_MIN_X")
}

record(longin,  "$(P)$(R)IntlkLmtAngMinX-RB"){
    field(DTYP, "asynInt32")
    field(DESC, "Get interlock ang. min X threshold")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_ANG_MIN_X")
}

record(longout, "$(P)$(R)IntlkLmtAngMinY-SP"){
    field(DTYP, "asynInt32")
    field(DESC, "Set interlock ang. min Y threshold")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_ANG_MIN_Y")
}

record(longin,  "$(P)$(R)IntlkLmtAngMinY-RB"){
    field(DTYP, "asynInt32")
    field(DESC, "Get interlock ang. min Y threshold")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))INTLK_ANG_MIN_Y")
}
