record(aSub,"$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ASubCalc")
{
    field(DESC, "Position calibrated Calc $(ACQ)$(ARRAY_NAME)")
    field(INAM,"bpmPolyCalInitAsub")
    field(SNAM,"$(ASUB_ROUTINE)")
    field(SDIS, "$(P)$(R)$(GLOBAL_ARRAY_NAME)PosCal-Sts CPP NMS")
    field(DISV, "0")
    field(INPA, "$(P)$(R)$(ACQ)$(ARRAY_NAME_XRAW)ArrayData.VAL CPP NMS")
    field(FTA, "DOUBLE")
    field(NOA, "$(NELEMENTS)")
    field(INPB, "$(P)$(R)$(ACQ)$(ARRAY_NAME_YRAW)ArrayData.VAL CPP NMS")
    field(FTB, "DOUBLE")
    field(NOB, "$(NELEMENTS)")
    field(INPC, "$(P)$(R)$(ACQ)$(ARRAY_NAME_QRAW)ArrayData.VAL CPP NMS")
    field(FTC, "DOUBLE")
    field(NOC, "$(NELEMENTS)")
    field(INPD, "$(P)$(R)$(ACQ)$(ARRAY_NAME_SUMRAW)ArrayData.VAL CPP NMS")
    field(FTD, "DOUBLE")
    field(NOD, "$(NELEMENTS)")
    field(INPE, "$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayCoeff-RB.VAL CPP NMS")
    field(FTE, "DOUBLE")
    field(NOE, "$(COEFF_ARRAY_SIZE)")
    field(INPF, "$(P)$(R)$(POS_OFFSET) CPP NMS")
    field(FTF, "DOUBLE")
    field(NOF, "1")
    field(OUTA, "$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayDataWvf CA NMS")
    field(FTVA, "DOUBLE")
    field(NOVA, "$(NELEMENTS)")
    field(BRSV, "INVALID")
}
