record(waveform,"$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayCoeff-SP")
{
    field(DESC, "Polynomial coefficients for $(ACQ)$(ARRAY_NAME)")
    field(PINI,"YES")
    field(NELM, "$(COEFF_ARRAY_SIZE)")
    field(FTVL, "$(FTVL)")
    field(PREC, 3)
    field(FLNK, "$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayCoeff-RB")
}

record(waveform,"$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayCoeff-RB")
{
    field(DESC, "Polynomial coefficients for $(ACQ)$(ARRAY_NAME)")
    field(INP,  "$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayCoeff-SP NPP NMS")
    field(NELM, "$(COEFF_ARRAY_SIZE)")
    field(PREC, 3)
    field(FTVL, "$(FTVL)")
}

# Polynomial corrected waveform. Set by BPMPosCalcXY.template or
# BPMPosCalcSingle.template.
record(waveform,"$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayDataWvf")
{
    field(DESC, "Position calibrated waveform $(ACQ)$(ARRAY_NAME)")
    field(NELM, "$(NELEMENTS)")
    field(FTVL, "$(FTVL)")
    field(FLNK, "$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayData")
}

record(subArray,"$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayData")
{
    field(DESC, "Position calibrated $(ACQ)$(ARRAY_NAME)")
    field(INP,  "$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayDataWvf NPP NMS")
    field(MALM, "$(NELEMENTS)")
    field(FTVL, "$(FTVL)")
    field(FLNK, "$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayDataSeq")
}

# Adjust NELM of subarray so clients get correct monitors when
# number os elements change
record(seq, "$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayDataSeq"){
    field(DESC,"Get NORD from $(ACQ)$(ARRAY_NAME_RAW) waveform")
    field(PINI,"YES")
    field(DOL1, "$(P)$(R)$(ACQ)$(ARRAY_NAME_RAW)ArrayData.NORD NPP NMS")
    field(LNK1, "$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayData.NELM PP NMS")
    field(SELM, "All")
}

# Gain and Offset corrected waveform.
record(acalcout,"$(P)$(R)$(ACQ)$(ARRAY_NAME_GOFF)ArrayDataC")
{
    field(DESC, "gain/offset position $(ACQ)$(ARRAY_NAME_GOFF)")
    field(DTYP, "Soft Channel")
    field(NELM,"$(NELEMENTS)")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(INPA, "$(P)$(R)$(POS_GAIN).VAL CPP NMS")
    field(INPB, "$(P)$(R)$(POS_OFFSET).VAL CPP NMS")
    field(INAA, "$(P)$(R)$(ACQ)$(ARRAY_NAME_RAW)ArrayData.VAL CPP NMS")
    field(WAIT, "Wait")
    field(OOPT, "Every Time")
    field(CALC, "A*AA-B")
    field(OUT,  "$(P)$(R)$(ACQ)$(ARRAY_NAME_GOFF)ArrayDataWvf CA NMS")
}

record(waveform,"$(P)$(R)$(ACQ)$(ARRAY_NAME_GOFF)ArrayDataWvf")
{
    field(DESC, "Position calibrated waveform $(ACQ)$(ARRAY_NAME)")
    field(SDIS, "$(P)$(R)$(GLOBAL_ARRAY_NAME)PosCal-Sts CPP NMS")
    field(DISV, "1")
    field(NELM, "$(NELEMENTS)")
    field(FTVL, "$(FTVL)")
    field(FLNK, "$(P)$(R)$(ACQ)$(ARRAY_NAME_GOFF)ArrayData PP")
}

record(subArray,"$(P)$(R)$(ACQ)$(ARRAY_NAME_GOFF)ArrayData")
{
    field(DESC, "Position calibrated $(ACQ)$(ARRAY_NAME)")
    field(SDIS, "$(P)$(R)$(GLOBAL_ARRAY_NAME)PosCal-Sts CPP NMS")
    field(DISV, "1")
    field(INP,  "$(P)$(R)$(ACQ)$(ARRAY_NAME_GOFF)ArrayDataWvf NPP NMS")
    field(MALM, "$(NELEMENTS)")
    field(FTVL, "$(FTVL)")
    field(FLNK, "$(P)$(R)$(ACQ)$(ARRAY_NAME_GOFF)ArrayDataSeq")
}

# Adjust NELM of subarray so clients get correct monitors when
# number os elements change
record(seq, "$(P)$(R)$(ACQ)$(ARRAY_NAME_GOFF)ArrayDataSeq"){
    field(DESC,"Get NORD from $(ACQ)$(ARRAY_NAME_RAW) waveform")
    field(PINI,"YES")
    field(DOL1, "$(P)$(R)$(ACQ)$(ARRAY_NAME_RAW)ArrayData.NORD NPP NMS")
    field(LNK1, "$(P)$(R)$(ACQ)$(ARRAY_NAME_GOFF)ArrayData.NELM PP NMS")
    field(SELM, "All")
}

# Select between GOff (Gain and Offset waveforms) or Poly (Polinomial
# corrected)
record(acalcout,"$(P)$(R)$(ACQ)$(ARRAY_NAME)SelCalc")
{
    field(DESC, "Use raw/poly. position $(ACQ)$(ARRAY_NAME)")
    field(DTYP, "Soft Channel")
    field(NELM,"$(NELEMENTS)")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(INPA, "$(P)$(R)$(GLOBAL_ARRAY_NAME)PosCal-Sts.VAL CPP NMS")
    field(INAA, "$(P)$(R)$(ACQ)$(ARRAY_NAME_GOFF)ArrayData.VAL CPP NMS")
    field(INBB, "$(P)$(R)$(ACQ)$(ARRAY_NAME_POLY)ArrayData.VAL CPP NMS")
    field(WAIT, "Wait")
    field(OOPT, "On Change")
    field(CALC, "(A)==(0)?AA:BB")
    field(OUT, "$(P)$(R)$(ACQ)$(ARRAY_NAME)ArrayDataWvf CA NMS")
}

record(waveform,"$(P)$(R)$(ACQ)$(ARRAY_NAME)ArrayDataWvf")
{
    field(DESC, "Position waveform $(ACQ)$(ARRAY_NAME)")
    field(NELM,"$(NELEMENTS)")
    field(FTVL, "$(FTVL)")
    field(FLNK, "$(P)$(R)$(ACQ)$(ARRAY_NAME)ArrayDataSeq")
}

record(subArray,"$(P)$(R)$(ACQ)$(ARRAY_NAME)ArrayData")
{
    field(DESC, "Position $(ACQ)$(ARRAY_NAME)")
    field(INP,  "$(P)$(R)$(ACQ)$(ARRAY_NAME)ArrayDataWvf NPP NMS")
    field(MALM, "$(NELEMENTS)")
    field(FTVL, "$(FTVL)")
}

# Adjust NELM of subarray so clients get correct monitors when
# number os elements change
record(seq, "$(P)$(R)$(ACQ)$(ARRAY_NAME)ArrayDataSeq"){
    field(DESC,"Get NORD from $(ACQ)$(ARRAY_NAME_RAW) waveform")
    field(PINI,"YES")
    field(DOL1, "$(P)$(R)$(ACQ)$(ARRAY_NAME_RAW)ArrayData.NORD NPP NMS")
    field(LNK1, "$(P)$(R)$(ACQ)$(ARRAY_NAME)ArrayData.NELM PP NMS")
    field(SELM, "All")
}
