record(aSub,"$(P)$(R)$(ACQ)$(ARRAY_NAME_CAL)ArrayDataCalc")
{
    field(DESC, "Position calibrated Calc $(ACQ)$(ARRAY_NAME)")
    field(INAM,"bpmPolyCalInitAsub")
    field(SNAM,"bpmPolyCalProcessAsub")
    field(SDIS, "$(P)$(R)$(ACQ)$(ARRAY_NAME)PosCal-Sts")
    field(DISV, "0")
    field(INPA, "$(P)$(R)$(ACQ)$(ARRAY_NAME_XUNCAL)ArrayData.VAL CPP NMS")
    field(FTA, "DOUBLE")
    field(NOA, "$(NELEMENTS)")
    field(INPB, "$(P)$(R)$(ACQ)$(ARRAY_NAME_YUNCAL)ArrayData.VAL CPP NMS")
    field(FTB, "DOUBLE")
    field(NOB, "$(NELEMENTS)")
    field(INPC, "$(P)$(R)$(ACQ)$(ARRAY_NAME_QUNCAL)ArrayData.VAL CPP NMS")
    field(FTC, "DOUBLE")
    field(NOC, "$(NELEMENTS)")
    field(INPD, "$(P)$(R)$(ACQ)$(ARRAY_NAME_SUMUNCAL)ArrayData.VAL CPP NMS")
    field(FTD, "DOUBLE")
    field(NOD, "$(NELEMENTS)")
    field(INPE, "$(P)$(R)$(ACQ)$(ARRAY_NAME_XCAL)ArrayCoeff-RB.VAL CPP NMS")
    field(FTE, "DOUBLE")
    field(NOE, "$(COEFF_ARRAY_SIZE)")
    field(INPF, "$(P)$(R)$(ACQ)$(ARRAY_NAME_YCAL)ArrayCoeff-RB.VAL CPP NMS")
    field(FTF, "DOUBLE")
    field(NOF, "$(COEFF_ARRAY_SIZE)")
    field(OUTA, "$(P)$(R)$(ACQ)$(ARRAY_NAME_XCAL)ArrayDataWvf CA NMS")
    field(FTVA, "DOUBLE")
    field(NOVA, "$(NELEMENTS)")
    field(OUTB, "$(P)$(R)$(ACQ)$(ARRAY_NAME_YCAL)ArrayDataWvf CA NMS")
    field(FTVB, "DOUBLE")
    field(NOVB, "$(NELEMENTS)")
}
