#########################
# Single Pass Acquisition parameters
#########################

record(ai,"$(P)$(R)SPA-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Amplitude A")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_AMP_A")
    field(EGU, "au")
}

record(ai,"$(P)$(R)SPB-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Amplitude B")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_AMP_B")
    field(EGU, "au")
}

record(ai,"$(P)$(R)SPC-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Amplitude C")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_AMP_C")
    field(EGU, "au")
}

record(ai,"$(P)$(R)SPD-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Amplitude D")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_AMP_D")
    field(EGU, "au")
}

record(ai,"$(P)$(R)SPX-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Position X")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_POS_X")
    field(EGU, "nm")
}

record(ai,"$(P)$(R)SPY-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Position Y")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_POS_Y")
    field(EGU, "nm")
}

record(ai,"$(P)$(R)SPQ-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Position Q")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_POS_Q")
    field(EGU, "nm")
}

record(ai,"$(P)$(R)SPSum-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Position Sum")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_POS_SUM")
    field(EGU, "nm")
}
