#
# BPM database file
#
# Authors: Juliano Murari
#          Lucas Russo
#
# Created Aug. 03, 2015
#

#######################################
# Amplitude and phase compensation
#######################################

record(mbbo,"$(P)$(R)SwMode-Sel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))SW_MODE")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"rffe_switching")
    field(ONST,"direct")
    field(TWST,"inverted")
    field(THST,"switching")
}

record(mbbi,"$(P)$(R)SwMode-Sts"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))SW_MODE")
    field(NOBT,"2")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(TWVL,"2")
    field(THVL,"3")
    field(ZRST,"rffe_switching")
    field(ONST,"direct")
    field(TWST,"inverted")
    field(THST,"switching")
}

record(longout,"$(P)$(R)SwDeswapDly-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching delay")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))SW_DLY")
    field(EGU, "clks")
}

record(longin,"$(P)$(R)SwDeswapDly-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching delay")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))SW_DLY")
    field(EGU, "clks")
}

record(longout,"$(P)$(R)SwDivClk-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set ADC switching divider clock")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))SW_DIVCLK")
    field(ASG, "Interlock")
}

record(longin,"$(P)$(R)SwDivClk-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get ADC switching divider clock")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))SW_DIVCLK")
}

record(bo,"$(P)$(R)SwPhaseSyncEn-Sel"){
    field(DTYP,"asynInt32")
    field(DESC,"enable switching phase sync")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(VAL, 1)
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SW_DIV_F_CNT_EN")
    field(ZNAM, "disable")
    field(ONAM, "enable")
}
record(mbbi,"$(P)$(R)SwPhaseSyncEn-Sts"){
    field(DTYP,"asynInt32")
    field(DESC,"enable switching phase sync")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SW_DIV_F_CNT_EN")
    field(ZRVL, 0)
    field(ONVL, 1)
    field(ZRST, "disable")
    field(ONST, "enable")
}
