#########################
# Single Pass Acquisition parameters
#########################

record(ai,"$(P)$(R)SPAmplA-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Amplitude A")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SP_AArrayData.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_AMP_A")
    field(EGU, "au")
}

record(ai,"$(P)$(R)SPAmplB-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Amplitude B")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPAmplA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_AMP_B")
    field(EGU, "au")
}

record(ai,"$(P)$(R)SPAmplC-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Amplitude C")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPAmplA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_AMP_C")
    field(EGU, "au")
}

record(ai,"$(P)$(R)SPAmplD-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Single Pass Amplitude D")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPAmplA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_AMP_D")
    field(EGU, "au")
}

record(ai,"$(P)$(R)RawSPPosX-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Raw Single Pass Position X")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPAmplA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_POS_X")
    field(EGU, "nm")
}

record(ai,"$(P)$(R)RawSPPosY-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Raw Single Pass Position Y")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPAmplA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_POS_Y")
    field(EGU, "nm")
}

record(ai,"$(P)$(R)RawSPPosQ-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Raw Single Pass Position Q")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPAmplA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_POS_Q")
    field(EGU, "nm")
}

record(ai,"$(P)$(R)RawSPSum-Mon"){
    field(DTYP,"asynFloat64")
    field(DESC,"Raw Single Pass Sum")
    field(PINI,"YES")
    field(PREC, "5")
    field(SCAN,"I/O Intr")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)SPAmplA-Mon.TIME")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))SP_POS_SUM")
    field(EGU, "nm")
}

record(calc,"$(P)$(R)SPPosX-Mon"){
    field(DESC,"Single Pass X")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)RawSPPosX-Mon.TIME")
    field(INPA, "$(P)$(R)RawSPPosX-Mon CPP NMS")
    field(INPB, "$(P)$(R)PosKx-RB.VAL NPP NMS")
    field(INPC, "$(P)$(R)PosXOffset-RB.VAL NPP NMS")
    field(CALC, "B*A-C")
    field(EGU, "nm")
}

record(calc,"$(P)$(R)SPPosY-Mon"){
    field(DESC,"Single Pass Y")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)RawSPPosY-Mon.TIME")
    field(INPA, "$(P)$(R)RawSPPosY-Mon CPP NMS")
    field(INPB, "$(P)$(R)PosKy-RB.VAL NPP NMS")
    field(INPC, "$(P)$(R)PosYOffset-RB.VAL NPP NMS")
    field(CALC, "B*A-C")
    field(EGU, "nm")
}

record(calc,"$(P)$(R)SPPosQ-Mon"){
    field(DESC,"Single Pass Q")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)RawSPPosQ-Mon.TIME")
    field(INPA, "$(P)$(R)RawSPPosQ-Mon CPP NMS")
    field(INPB, "$(P)$(R)PosKq-RB.VAL NPP NMS")
    field(INPC, "$(P)$(R)PosQOffset-RB.VAL NPP NMS")
    field(CALC, "B*A-C")
    field(EGU, "nm")
}

record(calc,"$(P)$(R)SPSum-Mon"){
    field(DESC,"Single Pass Sum")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(TSEL, "$(P)$(R)RawSPSum-Mon.TIME")
    field(INPA, "$(P)$(R)RawSPSum-Mon CPP NMS")
    field(INPB, "$(P)$(R)PosKsum-RB.VAL NPP NMS")
    field(CALC, "B*A")
    field(EGU, "au")
}
