#########################
# Trigger parameters
#########################

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):chan"){
    field(DTYP,"asynInt32")
    field(PINI,"YES")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))TRIGGER_CHAN")
    field(VAL, "$(TRIGGER_CHAN)")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):chan_RBV"){
    field(DTYP,"asynInt32")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))TRIGGER_CHAN")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):dir"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger direction")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_DIR")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):dir_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):dir_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger direction")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_DIR")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):dirPol"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger direction polarity")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_DIR_POL")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):dirPol_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):dirPol_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger direction polarity")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_DIR_POL")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvCntRst"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger receive counter reset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_CNT_RST")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvCntRst_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvCntRst_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger receive counter reset")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_CNT_RST")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnCntRst"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger transmit counter reset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_CNT_RST")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnCntRst_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnCntRst_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger transmit counter reset")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_CNT_RST")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvLen"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger receive debounce length")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_LEN")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvLen_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvLen_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger receive debounce length")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_LEN")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnLen"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger transmit extension length")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_LEN")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnLen_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnLen_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger transmit extension length")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_LEN")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvCnt"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger receive counter")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_CNT_RCV")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvCnt_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvCnt_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger receive counter")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_CNT_RCV")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnCnt"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger transmit counter")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_CNT_TRN")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnCnt_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnCnt_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger transmit counter")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_CNT_TRN")
}

record(mbbo,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvSrc"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger receive source")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"external")
    field(ONST,"internal")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_SRC")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvSrc_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvSrc_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger receive source")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"external")
    field(ONST,"internal")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_SRC")
}

record(mbbo,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnSrc"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger transmit source")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(NOBT,"1")
    field(ZRVL,"0")
    field(ONVL,"1")
    field(ZRST,"external")
    field(ONST,"internal")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_SRC")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnSrc_RBV")
}

record(mbbi,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnSrc_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger transmit source")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_SRC")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvInSel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger receive selection mux")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_IN_SEL")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvInSel_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):rcvInSel_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger receive selection mux")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_IN_SEL")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnOutSel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger transmit selection mux")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_OUT_SEL")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnOutSel_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER$(TRIGGER_CHAN):trnOutSel_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger transmit selection mux")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_OUT_SEL")
}
