#########################
# Trigger parameters
#########################

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:chan"){
    field(DTYP,"asynInt32")
    field(DESC,"Set trigger channel to be modified")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))TRIGGER_CHAN")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:chan_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:chan_RBV"){
    field(DTYP,"asynInt32")
    field(DESC,"Get trigger channel to be modified")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))TRIGGER_CHAN")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:dir"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger direction")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_DIR")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:dir_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:dir_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger direction")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_DIR")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:dirPol"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger direction polarity")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_DIR_POL")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:dirPol_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:dirPol_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger direction polarity")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_DIR_POL")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:rcvCntRst"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger receive counter reset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_CNT_RST")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:rcvCntRst_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:rcvCntRst_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger receive counter reset")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_CNT_RST")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:trnCntRst"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger transmit counter reset")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_CNT_RST")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:trnCntRst_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:trnCntRst_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger transmit counter reset")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_CNT_RST")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:rcvLen"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger receive debounce length")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_LEN")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:rcvLen_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:rcvLen_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger receive debounce length")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_LEN")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:trnLen"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger transmit extension length")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_LEN")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:trnLen_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:trnLen_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger transmit extension length")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_LEN")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:rcvCnt"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger receive counter")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_CNT")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:rcvCnt_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:rcvCnt_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger receive counter")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_CNT")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:trnCnt"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger transmit counter")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_CNT")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:trnCnt_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:trnCnt_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger transmit counter")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_CNT")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:rcvSrc"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger receive source")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_SRC")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:rcvSrc_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:rcvSrc_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger receive source")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_SRC")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:trnSrc"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger transmit source")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_SRC")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:trnSrc_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:trnSrc_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger transmit source")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_SRC")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:rcvInSel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger receive selection mux")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_IN_SEL")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:rcvInSel_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:rcvInSel_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger receive selection mux")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_RCV_IN_SEL")
}

record(longout,"$(P)-$(BPM_NUMBER):TRIGGER:trnOutSel"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Set trigger transmit selection mux")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_OUT_SEL")
    field(FLNK,"$(P)-$(BPM_NUMBER):TRIGGER:trnOutSel_RBV")
}

record(longin,"$(P)-$(BPM_NUMBER):TRIGGER:trnOutSel_RBV"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get trigger transmit selection mux")
    field(PINI,"YES")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TRIGGER_TRN_OUT_SEL")
}
