#########################
# Timing Receiver parameters
#########################

record(longout,"$(P)$(R)TimRcvPhaseMeasNavg-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set number of averages")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RCV_PHASE_MEAS_NAVG")
}

record(longin,"$(P)$(R)TimRcvPhaseMeasNavg-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get number of averages")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RCV_PHASE_MEAS_NAVG")
}

record(longout,"$(P)$(R)TimRcvDMTDADeglitch-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set DMTD A deglitcher")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RCV_DMTD_A_DEGLITCH")
}

record(longin,"$(P)$(R)TimRcvDMTDADeglitch-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get DMTD B deglitcher")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RCV_DMTD_A_DEGLITCH")
}

record(longout,"$(P)$(R)TimRcvDMTDBDeglitch-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set DMTD B deglitcher")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RCV_DMTD_B_DEGLITCH")
}

record(longin,"$(P)$(R)TimRcvDMTDBDeglitch-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get DMTD B deglitcher")
    field(SCAN,"I/O Intr")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RCV_DMTD_B_DEGLITCH")
}

record(longin,"$(P)$(R)TimRcvPhaseMeas-Mon"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Monitoring Phase Meas")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RCV_PHASE_MEAS")
}

record(longin,"$(P)$(R)TimRcvDMTDAFreq-Mon"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get DMTD A Freq")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RCV_DMTD_A_FREQ")
}

record(longin,"$(P)$(R)TimRcvDMTDBFreq-Mon"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"Get DMTD B Freq")
    field(PINI,"YES")
    field(SCAN,"1 second")
    field(MDEL, "-1")
    field(ADEL, "-1")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))TIM_RCV_DMTD_B_FREQ")
}
