#
# BPM database file
#
# Authors: Juliano Murari
#          Lucas Russo
#
# Created Aug. 03, 2015
#

#########################
# RFFE parameters
#########################

record(ao,"$(P)$(R)RFFEAtt-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE attenuator")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_ATT")
    field(EGU, "dB")
}

record(ai,"$(P)$(R)RFFEAtt-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE attenuator")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_ATT")
    field(EGU, "dB")
}

record(ai,"$(P)$(R)RFFETempAC-Mon"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE temperature AC")
    field(PINI,"YES")
    field(SCAN,"5 second")
    field(MDEL,"-1")
    field(ADEL,"-1")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_TEMP_AC")
    field(EGU, "oC")
}

record(ai,"$(P)$(R)RFFETempBD-Mon"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE temperature BD")
    field(PINI,"YES")
    field(SCAN,"5 second")
    field(MDEL,"-1")
    field(ADEL,"-1")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_TEMP_BD")
    field(EGU, "oC")
}

record(dfanout, "$(P)$(R)RFFEPidSp-SP") {
    field(OMSL, "supervisory")
    field(OUTA, "$(P)$(R)RFFEPidSpAC PP")
    field(OUTB, "$(P)$(R)RFFEPidSpBD PP")
}

record(ao,"$(P)$(R)RFFEPidSpAC-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE AC setpoint")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_SET_POINT_AC")
    field(EGU, "oC")
}

record(ai,"$(P)$(R)RFFEPidSpAC-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE AC setpoint")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_SET_POINT_AC")
    field(EGU, "oC")
}

record(ao,"$(P)$(R)RFFEPidSpBD-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE BD setpoint")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_SET_POINT_BD")
    field(EGU, "oC")
}

record(ai,"$(P)$(R)RFFEPidSpBD-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE BD setpoint")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_SET_POINT_BD")
    field(EGU, "oC")
}

record(bo,"$(P)$(R)RFFETempCtl-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"set RFFE temperature control")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(VAL, "0")
    field(ZNAM,"off")
    field(ONAM,"on")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RFFE_TEMP_CTL")
}

record(bi,"$(P)$(R)RFFETempCtl-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get RFFE temperature control")
    field(SCAN,"I/O Intr")
    field(ZNAM,"off")
    field(ONAM,"on")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RFFE_TEMP_CTL")
}

record(dfanout, "$(P)$(R)RFFEHeater-SP") {
    field(OMSL, "supervisory")
    field(OUTA, "$(P)$(R)RFFEHeaterAC PP")
    field(OUTB, "$(P)$(R)RFFEHeaterBD PP")
}

record(ao,"$(P)$(R)RFFEHeaterAC-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE AC heater")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_HEATER_AC")
    field(EGU, "V")
}

record(ai,"$(P)$(R)RFFEHeaterAC-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE AC heater")
    field(SCAN,"1 second")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_HEATER_AC")
    field(EGU, "V")
}

record(ao,"$(P)$(R)RFFEHeaterBD-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE BD heater")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_HEATER_BD")
    field(EGU, "V")
}

record(ai,"$(P)$(R)RFFEHeaterBD-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE BD heater")
    field(SCAN,"1 second")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_HEATER_BD")
    field(EGU, "V")
}

record(bo,"$(P)$(R)RFFERst-SP"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"reset RFFE")
    field(SCAN,"Passive")
    field(VAL, "0")
    field(ZNAM,"off")
    field(ONAM,"on")
    field(OUT,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RFFE_RST")
}

record(bi,"$(P)$(R)RFFERst-RB"){
    field(DTYP,"asynUInt32Digital")
    field(DESC,"get RFFE reset status")
    field(SCAN,"I/O Intr")
    field(ZNAM,"off")
    field(ONAM,"on")
    field(INP,"@asynMask($(PORT),$(ADDR),0xFFFFFFFF,$(TIMEOUT))RFFE_RST")
}

record(dfanout, "$(P)$(R)RFFEPidKp-SP") {
    field(OMSL, "supervisory")
    field(OUTA, "$(P)$(R)RFFEPidACKp PP")
    field(OUTB, "$(P)$(R)RFFEPidBDKp PP")
}

record(ao,"$(P)$(R)RFFEPidACKp-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE AC PID Kp")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_AC_KP")
}

record(ai,"$(P)$(R)RFFEPidACKp-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE AC PID Kp")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_AC_KP")
}

record(dfanout, "$(P)$(R)RFFEPidTi-SP") {
    field(OMSL, "supervisory")
    field(OUTA, "$(P)$(R)RFFEPidACTi PP")
    field(OUTB, "$(P)$(R)RFFEPidBDTi PP")
}

record(ao,"$(P)$(R)RFFEPidACTi-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE AC PID Ti")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_AC_TI")
}

record(ai,"$(P)$(R)RFFEPidACTi-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE AC PID Ti")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_AC_TI")
}

record(dfanout, "$(P)$(R)RFFEPidTd-SP") {
    field(OMSL, "supervisory")
    field(OUTA, "$(P)$(R)RFFEPidACTd PP")
    field(OUTB, "$(P)$(R)RFFEPidBDTd PP")
}

record(ao,"$(P)$(R)RFFEPidACTd-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE AC PID Td")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_AC_TD")
}

record(ai,"$(P)$(R)RFFEPidACTd-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE AC PID Td")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_AC_TD")
}

record(ao,"$(P)$(R)RFFEPidBDKp-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE BD PID Kp")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_BD_KP")
}

record(ai,"$(P)$(R)RFFEPidBDKp-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE BD PID Kp")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_BD_KP")
}

record(ao,"$(P)$(R)RFFEPidBDTi-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE BD PID Ti")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_BD_TI")
}

record(ai,"$(P)$(R)RFFEPidBDTi-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE BD PID Ti")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_BD_TI")
}

record(ao,"$(P)$(R)RFFEPidBDTd-SP"){
    field(DTYP, "asynFloat64")
    field(DESC,"set RFFE BD PID Td")
    field(PINI,"YES")
    field(SCAN,"Passive")
    field(OUT,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_BD_TD")
}

record(ai,"$(P)$(R)RFFEPidBDTd-RB"){
    field(DTYP, "asynFloat64")
    field(DESC,"get RFFE BD PID Td")
    field(SCAN,"I/O Intr")
    field(INP,"@asyn($(PORT),$(ADDR),$(TIMEOUT))RFFE_PID_BD_TD")
}
