[Unit]
Description=BPM FE IOC %p%I
After=rc-local.service
Requires=halcs-fe@%i.service
After=halcs-fe@%i.service
PartOf=halcs-ioc@%i.target

[Service]
# Source environment
EnvironmentFile=/etc/sysconfig/bpm-epics-ioc
# Environment="BPM_ENDPOINT=tcp://127.0.0.1:8978" BPM_NUMBER=%i
Environment="BPM_ENDPOINT=tcp://127.0.0.1:8978" EPICS_PV_AREA_PREFIX=SI-01-%i:
# Execute pre with root
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/procServ/%p%i
ExecStartPre=/bin/mkdir -p /var/run/procServ/%p%i
WorkingDirectory=/opt/epics/startup/ioc/bpm-epics-ioc/iocBoot/iocBPMRFFE
# Run procServ with user ioc
ExecStart=/usr/local/bin/procServ -f -n %p%i -i ^C^D ${PROCSERV_FE_PORT_PREFIX}%i ./run.sh ${BPM_ENDPOINT} ${EPICS_PV_AREA_PREFIX}

[Install]
WantedBy=halcs-ioc@%i.target
