[Unit]
Description=BPM BE IOC %p%I
After=rc-local.service
Requires=halcs-be@%i.service
After=halcs-be@%i.service
PartOf=halcs-ioc@%i.target

[Service]
# Source environment
EnvironmentFile=/etc/sysconfig/bpm-epics-ioc
EnvironmentFile=/etc/sysconfig/bpm-epics-ioc-slot-mapping
Environment=BPM_NUMBER=%i
Environment=EPICS_PV_AREA_PREFIX_NAME=BPM_NUMBER_${BPM_NUMBER}_PV_AREA_PREFIX
Environment=EPICS_PV_DEVICE_PREFIX_NAME=BPM_NUMBER_${BPM_NUMBER}_PV_DEVICE_PREFIX
# Execute pre with root
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/procServ/%p%i
ExecStartPre=/bin/mkdir -p /var/run/procServ/%p%i
WorkingDirectory=/opt/epics/startup/ioc/bpm-epics-ioc/iocBoot/iocBPM
# Run procServ with user ioc
ExecStart=/usr/local/bin/procServ -f -n %p%i -i ^C^D ${PROCSERV_BE_PORT_PREFIX}%i ./run.sh ${BPM_ENDPOINT} ${BPM_NUMBER}

[Install]
WantedBy=halcs-ioc@%i.target
